@page
@model webAppMilbr.Pages.Index
@{
    Layout = "~/Pages/Shared/Layout.cshtml";
}

<div class="index-area-cliente-responsividade">
    <div id="index-area-cliente-conteudo">
        @* CARROSSEL *@
        <div id="index-area-cliente-conteudo-carrossel"></div>

        @* PLANOS *@
        <div id="index-area-cliente-conteudo-conhecer-planos">
          <div id="index-area-cliente-conteudo-conhecer-planos-titulo">
            <h1>CONHEÇA NOSSOS PLANOS</h1>
          </div>

          <!-- COLOCAR AÇÃO NOS BOTÕES LUIZ O.-->
          <div id="index-area-cliente-conteudo-conhecer-planos-tipos-planos">
            <button>RESIDENCIAL</button>
            <button>COMERCIAL</button>
            <button>CORPORATIVO</button>
            <button>RURAL</button>
          </div>

          @* deixei de forma normal, mas basicamente aqui que vai mudar as opções *@
          <div id="index-area-cliente-conteudo-conhecer-ofertas">
            @* ------------- ELEMENTS PARA IMPORT ------------------ *@
            <div class="plano-apresentacao">
              <div id="plano-apresentacao-titulo">MASTER</div>
              <div id="plano-apresentacao-corpo">
                <div id="plano-apresentacao-corpo-velocidade"><h1>600MB</h1></div>
                <div id="plano-apresentacao-corpo-vantagens">
                  <ul id="plano-apresentacao-corpo-vantagens-lista">
                    <li><img src="img/socialmedia/fibra-icone.png" alt="icone-fibra" draggable="false">100% Fibra Óptica</li>
                    <li><img src="img/socialmedia/milbr-facil.png" alt="icone-celular" draggable="false">APP Milbr +Fácil</li>
                    <li><img src="img/socialmedia/milbrtv-icone.png" alt="icone-milbrtv" draggable="false">Milbr TV Grátis no APP</li>
                    <li><img src="img/socialmedia/sem-fidelidade-icone.png" alt="icone-fidelidade" draggable="false">Sem contrato de Fidelidade</li>
                    <li><img src="img/socialmedia/icone-suporte.png" alt="icone-suporte" draggable="false">Suporte Técnico</li>
                  </ul>
                </div>
                <div id="plano-apresentacao-corpo-botao">
                  <button>SAIBA MAIS</button>
                </div>
              </div>
            </div>

            <div class="plano-apresentacao" style="margin-bottom: 100px;">
              <div id="plano-apresentacao-titulo">PLUS</div>
              <div id="plano-apresentacao-corpo">
                <div id="plano-apresentacao-corpo-velocidade"><h1>400MB</h1></div>
                <div id="plano-apresentacao-corpo-vantagens">
                  <ul id="plano-apresentacao-corpo-vantagens-lista">
                    <li><img src="img/socialmedia/fibra-icone.png" alt="icone-fibra" draggable="false">100% Fibra Óptica</li>
                    <li><img src="img/socialmedia/milbr-facil.png" alt="icone-celular" draggable="false">APP Milbr +Fácil</li>
                    <li><img src="img/socialmedia/milbrtv-icone.png" alt="icone-milbrtv" draggable="false">Milbr TV Grátis no APP</li>
                    <li><img src="img/socialmedia/sem-fidelidade-icone.png" alt="icone-fidelidade" draggable="false">Sem contrato de Fidelidade</li>
                    <li><img src="img/socialmedia/icone-suporte.png" alt="icone-suporte" draggable="false">Suporte Técnico</li>
                  </ul>
                </div>
                <div id="plano-apresentacao-corpo-botao">
                  <button>SAIBA MAIS</button>
                </div>
              </div>
            </div>
            
            <div class="plano-apresentacao">
              <div id="plano-apresentacao-titulo">BÁSICO</div>
              <div id="plano-apresentacao-corpo">
                <div id="plano-apresentacao-corpo-velocidade"><h1>250MB</h1></div>
                <div id="plano-apresentacao-corpo-vantagens">
                  <ul id="plano-apresentacao-corpo-vantagens-lista">
                    <li><img src="img/socialmedia/fibra-icone.png" alt="icone-fibra" draggable="false">100% Fibra Óptica</li>
                    <li><img src="img/socialmedia/milbr-facil.png" alt="icone-celular" draggable="false">APP Milbr +Fácil</li>
                    <li><img src="img/socialmedia/milbrtv-icone.png" alt="icone-milbrtv" draggable="false">Milbr TV Grátis no APP</li>
                    <li><img src="img/socialmedia/sem-fidelidade-icone.png" alt="icone-fidelidade" draggable="false">Sem contrato de Fidelidade</li>
                    <li><img src="img/socialmedia/icone-suporte.png" alt="icone-suporte" draggable="false">Suporte Técnico</li>
                  </ul>
                </div>
                <div id="plano-apresentacao-corpo-botao">
                  <button>SAIBA MAIS</button>
                </div>
              </div>
            </div>

          </div>
        </div>

        <div id="index-area-cliente-conteudo-vantagens">
          <div id="index-area-cliente-conteudo-vantagens-titulo">
            <h1>NOSSAS VANTAGENS</h1>
          </div>
          <div id="index-area-cliente-conteudo-vantagens-icones">
            <!-- ESTRUTURA DE UM ICONE -->
            @* Fibra ótica *@
            <div id="index-area-cliente-conteudo-vantagens-icone">
              <div class="icone-icon">
                <img src="img/socialmedia/iconesIndex/fibra.png" alt="icone-icon-img" draggable="false">
              </div>
              <div id="icone-titulo"><h2>100% Fibra Óptica</h2></div>
              <div id="icone-descricao">Internet 100% fibra óptica na zona urbana</div>
            </div>

            @* milbrtv *@
            <div id="index-area-cliente-conteudo-vantagens-icone">
              <div class="icone-icon">
                <img src="img/socialmedia/iconesIndex/televisao.png" alt="icone-icon-img" draggable="false">
              </div>
              <div id="icone-titulo"><h2>Milbr TV</h2></div>
              <div id="icone-descricao">Instale a Milbr TV em sua televisão. Grátis no app!</div>
            </div>

            @* telefonia *@
            <div id="index-area-cliente-conteudo-vantagens-icone">
              <div class="icone-icon">
                <img src="img/socialmedia/iconesIndex/telefonia.png" alt="icone-icon-img" draggable="false">
              </div>
              <div id="icone-titulo"><h2>Milbr TD</h2></div>
              <div id="icone-descricao">Portabilidade e ligações ilimitadas para qualquer operadora e DDD.</div>
            </div>

            @* aplicativo *@
            <div id="index-area-cliente-conteudo-vantagens-icone">
              <div class="icone-icon">
                <img src="img/socialmedia/iconesIndex/milbrFacil.png" alt="icone-icon-img" draggable="false">
              </div>
              <div id="icone-titulo"><h2>APP Milbr +Fácil</h2></div>
              <div id="icone-descricao">Sua conexão na palma da mão!</div>
            </div>

            @* Atendimento Personalizado *@
            <div id="index-area-cliente-conteudo-vantagens-icone">
              <div class="icone-icon">
                <img src="img/socialmedia/iconesIndex/instalacaoPersonalizada.png" alt="icone-icon-img" draggable="false">
              </div>
              <div id="icone-titulo"><h2>Atendimento especializado</h2></div>
              <div id="icone-descricao">Atendimento técnico especializado pra melhor lhe atender.</div>
            </div>
          
            @* Instalação personalizada *@
            <div id="index-area-cliente-conteudo-vantagens-icone">
              <div class="icone-icon">
                <img src="img/socialmedia/iconesIndex/instalacaoPersonalizada.png" alt="icone-icon-img" draggable="false">
              </div>
              <div id="icone-titulo"><h2>Instalação Personalizada</h2></div>
              <div id="icone-descricao">Serviços personalizados conforme a necessidade do ambiente.</div>
            </div>

            @* Sem Fidelidade *@
            <div id="index-area-cliente-conteudo-vantagens-icone">
              <div class="icone-icon">
                <img src="img/socialmedia/iconesIndex/fidelidade.png" alt="icone-icon-img" draggable="false">
              </div>
              <div id="icone-titulo"><h2>Sem fidelidade</h2></div>
              <div id="icone-descricao">Você Livre! Não possuímos contrato de fidelidade.</div>
            </div>

            @* Qualidade garantida *@
            <div id="index-area-cliente-conteudo-vantagens-icone">
              <div class="icone-icon">
                <img src="img/socialmedia/iconesIndex/qualidade.png" alt="icone-icon-img" draggable="false">
              </div>
              <div id="icone-titulo"><h2>Qualidade garantida</h2></div>
              <div id="icone-descricao">Qualidade da conexão comprovada e garantida.</div>
            </div>

          </div>
        </div>

        @* AREA DO CLIENTE *@
        <div id="index-area-cliente-conteudo-area-cliente">
          <div id="index-area-cliente-conteudo-area-cliente-links-uteis-titulo">
            <h1>ÁREA DO CLIENTE</h1>
          </div>

          <!-- icones -->
          <div id="index-area-cliente-conteudo-area-cliente-links-uteis">
            @* fatura *@
            <div id="index-area-cliente-conteudo-area-cliente-links-uteis-acessiveis-click">
              <div id="index-area-cliente-conteudo-area-cliente-links-uteis-acessiveis-click-icone">
                <img src="img/socialmedia/iconesIndex/fatura.png" alt="index-area-cliente-conteudo-area-cliente-links-uteis-acessiveis-click-icone-png">
              </div>
              <div id="index-area-cliente-conteudo-area-cliente-links-uteis-acessiveis-click-texto">
                <a href="">PAGUE SUA FATURA</a>
              </div>
            </div>
            
            @* teste de velocidade *@
            <div id="index-area-cliente-conteudo-area-cliente-links-uteis-acessiveis-click">
              <div id="index-area-cliente-conteudo-area-cliente-links-uteis-acessiveis-click-icone">
                <img src="img/socialmedia/iconesIndex/testeVelocidade.png" alt="index-area-cliente-conteudo-area-cliente-links-uteis-acessiveis-click-icone-png">
              </div>
              <div id="index-area-cliente-conteudo-area-cliente-links-uteis-acessiveis-click-texto">
                <a href="https://fast.com/pt/">TESTE DE VELOCIDADE</a>  
              </div>
            </div>

            @* donwload *@
            <div id="index-area-cliente-conteudo-area-cliente-links-uteis-acessiveis-click">
              <div id="index-area-cliente-conteudo-area-cliente-links-uteis-acessiveis-click-icone">
                <img src="img/socialmedia/iconesIndex/donwload.png" alt="index-area-cliente-conteudo-area-cliente-links-uteis-acessiveis-click-icone-png">
              </div>
              <div id="index-area-cliente-conteudo-area-cliente-links-uteis-acessiveis-click-texto">DOWNLOADS</div>
            </div>

            @* webmail *@
            <div id="index-area-cliente-conteudo-area-cliente-links-uteis-acessiveis-click">
              <div id="index-area-cliente-conteudo-area-cliente-links-uteis-acessiveis-click-icone">
                <img src="img/socialmedia/iconesIndex/email.png" alt="index-area-cliente-conteudo-area-cliente-links-uteis-acessiveis-click-icone-png">
              </div>
              <div id="index-area-cliente-conteudo-area-cliente-links-uteis-acessiveis-click-texto">WEBMAIL MILBR</div>
            </div>

            @* links uteis *@
            <div id="index-area-cliente-conteudo-area-cliente-links-uteis-acessiveis-click">
              <div id="index-area-cliente-conteudo-area-cliente-links-uteis-acessiveis-click-icone">
                <img src="img/socialmedia/iconesIndex/iconesUteis.png" alt="index-area-cliente-conteudo-area-cliente-links-uteis-acessiveis-click-icone-png">
              </div>
              <div id="index-area-cliente-conteudo-area-cliente-links-uteis-acessiveis-click-texto">LINKS ÚTEIS</div>
            </div>

            @* contrato de serviço *@
            <div id="index-area-cliente-conteudo-area-cliente-links-uteis-acessiveis-click">
              <div id="index-area-cliente-conteudo-area-cliente-links-uteis-acessiveis-click-icone">
                <img src="img/socialmedia/iconesIndex/contrato.png" alt="index-area-cliente-conteudo-area-cliente-links-uteis-acessiveis-click-icone-png">
              </div>
              <div id="index-area-cliente-conteudo-area-cliente-links-uteis-acessiveis-click-texto">
                <a href="#">CONTRATO DE SERVIÇO</a></div>
            </div>

            @* se liga na dica *@
              <div id="index-area-cliente-conteudo-area-cliente-links-uteis-acessiveis-click">
              <div id="index-area-cliente-conteudo-area-cliente-links-uteis-acessiveis-click-icone">
                <img src="img/socialmedia/iconesIndex/dica.png" alt="index-area-cliente-conteudo-area-cliente-links-uteis-acessiveis-click-icone-png">
              </div>
              <div id="index-area-cliente-conteudo-area-cliente-links-uteis-acessiveis-click-texto">SE LIGA NA DICA</div>
            </div>


            @* histórico de promoçoes *@
              <div id="index-area-cliente-conteudo-area-cliente-links-uteis-acessiveis-click">
              <div id="index-area-cliente-conteudo-area-cliente-links-uteis-acessiveis-click-icone">
                <img src="img/socialmedia/iconesIndex/promoçoes.png" alt="index-area-cliente-conteudo-area-cliente-links-uteis-acessiveis-click-icone-png">
              </div>
              <div id="index-area-cliente-conteudo-area-cliente-links-uteis-acessiveis-click-texto">HISTÓRICO DE PROMOÇÕES</div>
            </div>
          </div>
        </div>

        @* REDES *@
        <div id="index-area-cliente-conteudo-redes-sociais"></div>

        @* PERGUNTAS FREQUENTES *@
        <div id="index-area-cliente-conteudo-perguntas-frequentes"></div>
    </div>
</div>