@page
@model webAppMilbr.Pages.Index

@{
  Layout = "~/Pages/Shared/Layout.cshtml";

  @* VÁRIAVEIS DE AMBIENTE, AJUDANDO NA PESQUISA *@
  ViewData["campo1"] = "PLANOS";
  ViewData["campo2"] = "ÁREA DO CLIENTE";
  ViewData["campo3"] = "SERVIÇOS";
  ViewData["campo4"] = "SOBRE NÓS";
  ViewData["campo5"] = "FAQ";

  @* VARIAVEIS DE NAVEGAÇÃO ENTRE PAGES *@
  ViewData["link1"] = "/index#index-area-cliente-conteudo-conhecer-planos-titulo";
  ViewData["link2"] = "/index#index-area-cliente-conteudo-area-cliente-links-uteis-section";
  ViewData["link3"] = "/processos";
  ViewData["link4"] = "/sobre";
  ViewData["link5"] = "/index#index-area-cliente-conteudo-perguntas-frequentes";
}

<div class="index-area-cliente-responsividade">
  <div id="index-area-cliente-conteudo">
    @* CARROSSEL *@
    <div id="index-area-cliente-conteudo-carrossel">

      @* Janelinha do cookie *@
      <div class="index-area-cliente-conteudo-carrossel-cookie" id="semCookie">
        <h3>
          Nosso site usa cookies para personalizar anúncios 
          e melhorar a sua experiência de navegaçao. 
          Ao clicar em "Aceitar e Fechar", você concorda
          com a nossa política de privacidade.
          <a href="https://web.whatsapp.com/send?phone=553535715000">Saiba mais</a>
        </h3>

        <button onclick="sumirCookies()">Aceitar e Fechar</button>
      </div>

      <img src="img/socialmedia/planosIdentificacao.png" alt="terceira-imagem-carrossel" draggable="false" class="selected">
      <img src="img/socialmedia/painel1.png" alt="primeira-imagem-carrossel2" draggable="false">
      <img src="img/socialmedia/painel2.png" alt="segunda-imagem-carrossel3" draggable="false">
      <img src="img/socialmedia/painel3.png" alt="terceira-imagem-carrossel4" draggable="false">
    </div>

    @* PLANOS *@
    <div id="index-area-cliente-conteudo-conhecer-planos">
      <div id="index-area-cliente-conteudo-conhecer-planos-titulo" data-aos="fade-up">
        <h4>Único provedor sem contrato de fidelidade!</h4>
        <h1>CONHEÇA OS NOVOS PLANOS</h1>
      </div>

      <div id="index-area-cliente-conteudo-conhecer-planos-tipos-planos">
        <button data-target="index-area-cliente-conteudo-conhecer-ofertas-geravel-residencial" class="nav-btn"> RESIDENCIAL</button>
        <button data-target="index-area-cliente-conteudo-conhecer-ofertas-geravel-rural" class="nav-btn" >      RURAL</button>
        <button data-target="index-area-cliente-conteudo-conhecer-ofertas-geravel-comercial" class="nav-btn"> COMERCIAL</button>
        <button data-target="index-area-cliente-conteudo-conhecer-ofertas-geravel-corporativo" class="nav-btn"> CORPORATIVO</button>
      </div>

      @* deixei de forma normal, mas basicamente aqui que vai mudar as opções *@
      <div id="index-area-cliente-conteudo-conhecer-ofertas">
        
        <!-- CONTEÚDO RESIDENCIAL -->
        <div id="index-area-cliente-conteudo-conhecer-ofertas-geravel-residencial" class="conteudo open">
          <!-- elemento flutuante 1 -->
          <div class="plano-apresentacao" style="height: 500px;">
            <div id="coroa">
              <img src="img/socialmedia/iconesIndex/coroa.png" alt="index-area-cliente-conteudo-conhecer-ofertas-geravel-residencial-coroa">
            </div>

            <div id="plano-apresentacao-titulo">TURBO</div>
            <div id="plano-apresentacao-corpo">
              <div id="plano-apresentacao-corpo-velocidade">
                <h1>800 MB</h1>
              </div>

              <div id="plano-apresentacao-corpo-vantagens">
                <ul id="plano-apresentacao-corpo-vantagens-lista">
                  <li><img src="img/socialmedia/fibra-icone.png" alt="icone-fibra" draggable="false">100% Fibra Óptica
                  </li>
                  <li><img src="img/socialmedia/milbr-facil.png" alt="icone-celular" draggable="false">APP Milbr +Fácil
                  </li>
                  <li><img src="img/socialmedia/milbrtv-icone.png" alt="icone-milbrtv" draggable="false">Milbr TV Grátis
                    no APP</li>
                  <li><img src="img/socialmedia/sem-fidelidade-icone.png" alt="icone-fidelidade" draggable="false">Sem
                    contrato de Fidelidade</li>
                  <li><img src="img/socialmedia/icone-suporte.png" alt="icone-suporte" draggable="false">Suporte Técnico</li>
                  <li><i class='bx bx-wifi'></i>Roteador incluso</li>
                </ul>
              </div>

              <div id="plano-apresentacao-corpo-botao">
                <button>
                  <a href="/planos">SAIBA MAIS</a>
                </button>
              </div>

            </div>
          </div>

          <!-- elemento flutuante 2 -->
          <div class="plano-apresentacao" style="margin-bottom: 100px; height: 500px;">
            <div id="plano-apresentacao-titulo">PRO</div>
            <div id="plano-apresentacao-corpo">
              <div id="plano-apresentacao-corpo-velocidade">
                <h1>600 MB</h1>
              </div>
              <div id="plano-apresentacao-corpo-vantagens">
                <ul id="plano-apresentacao-corpo-vantagens-lista">
                  <li><img src="img/socialmedia/fibra-icone.png" alt="icone-fibra" draggable="false">100% Fibra Óptica</li>
                  <li><img src="img/socialmedia/milbr-facil.png" alt="icone-celular" draggable="false">APP Milbr +Fácil</li>
                  <li><img src="img/socialmedia/milbrtv-icone.png" alt="icone-milbrtv" draggable="false">Milbr TV Grátis no APP</li>
                  <li><img src="img/socialmedia/sem-fidelidade-icone.png" alt="icone-fidelidade" draggable="false">Sem contrato de Fidelidade</li>
                  <li><img src="img/socialmedia/icone-suporte.png" alt="icone-suporte" draggable="false">Suporte Técnico</li>
                  <li><i class='bx bx-wifi'></i>Roteador incluso</li>
                </ul>
              </div>
              <div id="plano-apresentacao-corpo-botao">
                <button><a href="/planos">SAIBA MAIS</a></button>
              </div>
            </div>
          </div>

          <!-- elemento flutuante 3 -->        
          <div class="plano-apresentacao">
            <div id="plano-apresentacao-titulo">START</div>
            <div id="plano-apresentacao-corpo">
              <div id="plano-apresentacao-corpo-velocidade">
                <h1>300 MB</h1>
              </div>
              <div id="plano-apresentacao-corpo-vantagens">
                <ul id="plano-apresentacao-corpo-vantagens-lista">
                  <li><img src="img/socialmedia/fibra-icone.png" alt="icone-fibra" draggable="false">100% Fibra Óptica
                  </li>
                  <li><img src="img/socialmedia/milbr-facil.png" alt="icone-celular" draggable="false">APP Milbr +Fácil
                  </li>
                  <li><img src="img/socialmedia/milbrtv-icone.png" alt="icone-milbrtv" draggable="false">Milbr TV Grátis
                    no APP</li>
                  <li><img src="img/socialmedia/sem-fidelidade-icone.png" alt="icone-fidelidade" draggable="false">Sem
                    contrato de Fidelidade</li>
                  <li><img src="img/socialmedia/icone-suporte.png" alt="icone-suporte" draggable="false">Suporte Técnico
                  </li>
                </ul>
              </div>
              <div id="plano-apresentacao-corpo-botao">
                <button><a href="/planos">SAIBA MAIS</a></button>
              </div>
            </div>
          </div>
        </div>
        
        <!-- CONTEÚDO RURAL -->
        <div id="index-area-cliente-conteudo-conhecer-ofertas-geravel-rural" class="conteudo close">
          <!-- elemento flutuante unico -->
          <div class="plano-apresentacao" style="margin-bottom: 100px;">
              <div id="coroa">
                <img src="img/socialmedia/iconesIndex/coroa.png" alt="index-area-cliente-conteudo-conhecer-ofertas-geravel-residencial-coroa">
              </div>
            <div id="plano-apresentacao-titulo">PLUS</div>
            <div id="plano-apresentacao-corpo">
              <div id="plano-apresentacao-corpo-velocidade">
                <h1>12 MB</h1>
              </div>
              <div id="plano-apresentacao-corpo-vantagens">
                <ul id="plano-apresentacao-corpo-vantagens-lista">
                  <li><img src="img/socialmedia/milbr-facil.png" alt="icone-celular" draggable="false">APP Milbr +Fácil
                  </li>
                  <li><img src="img/socialmedia/milbrtv-icone.png" alt="icone-milbrtv" draggable="false">Milbr TV Grátis
                    no APP</li>
                  <li><img src="img/socialmedia/sem-fidelidade-icone.png" alt="icone-fidelidade" draggable="false">Sem
                    contrato de Fidelidade</li>
                  <li><img src="img/socialmedia/icone-suporte.png" alt="icone-suporte" draggable="false">Suporte Técnico
                  </li>
                </ul>
              </div>
              <div id="plano-apresentacao-corpo-botao">
                <button><a href="/planos#planos-conteudo-imagem-planos-rurais-titulo">SAIBA MAIS</a></button>
              </div>
            </div>
          </div>
        </div>

        <!-- CONTEÚDO COMERCIAL -->
        <div id="index-area-cliente-conteudo-conhecer-ofertas-geravel-comercial" class="conteudo close">    
          <div class="plano-apresentacao" style="height: 500px;">
            <div id="coroa">
              <img src="img/socialmedia/iconesIndex/coroa.png" alt="index-area-cliente-conteudo-conhecer-ofertas-geravel-residencial-coroa">
            </div>
            <div id="plano-apresentacao-titulo">COMERCIAL</div>
            <div id="plano-apresentacao-corpo">
              <div id="plano-apresentacao-corpo-velocidade">
                <h1></h1>
              </div>
              <div id="plano-apresentacao-corpo-vantagens">
                <ul id="plano-apresentacao-corpo-vantagens-lista">
                  <li><img src="img/socialmedia/iconesIndex/fibra.png" alt="icone-fibra" draggable="false" style="height: 25px; width=25px;">100% Fibra Óptica</li>
                  <li><img src="img/socialmedia/iconesIndex/donwload.png" alt="icone-celular" draggable="false" style="height: 25px; width=25px;">300MB de Download</li>
                  <li><img src="img/socialmedia/iconesIndex/upload.png" alt="icone-milbrtv" draggable="false" style="height: 25px; width=25px;">300MB de Upload</li>
                  <li><img src="img/socialmedia/iconesIndex/wifeed.png" alt="icone-fidelidade" draggable="false" style="height: 25px; width=25px;">Wi-Fi Premium(Wifeed)</li>
                  <li><img src="img/socialmedia/iconesIndex/ipfixo.png" alt="icone-suporte" draggable="false" style="height: 25px; width=25px;">IP FIXO</li>
                  <li><img src="img/socialmedia/iconesIndex/routerBoard.png" alt="icone-suporte" draggable="false" style="height: 25px; width=25px;">Roteador de borda</li>
                  <li><img src="img/socialmedia/iconesIndex/fidelidade.png" alt="icone-suporte" draggable="false" style="height: 25px; width=25px;">Sem contrato de Fidelidade</li>
                  <li><img src="img/socialmedia/iconesIndex/sac.png" alt="icone-suporte" draggable="false" style="height: 25px; width=25px;">Suporte Técnico</li>
                </ul>
              </div>
              <div id="plano-apresentacao-corpo-botao">
                <button><a href="/planos#planos-conteudo-imagem-plano-comercial-conteudo">SAIBA MAIS</a></button>
              </div>
            </div>
          </div>
        </div>
        
        <!-- CONTEÚDO CORPORATIVO -->
        <div id="index-area-cliente-conteudo-conhecer-ofertas-geravel-corporativo" class="conteudo close">    
          <div class="plano-apresentacao" style="height: 600px; margin-top: -30px;">
            <div id="coroa">
              <img src="img/socialmedia/iconesIndex/coroa.png" alt="index-area-cliente-conteudo-conhecer-ofertas-geravel-residencial-coroa">
            </div>
            <div id="plano-apresentacao-titulo">CORPORATIVO</div>
            <div id="plano-apresentacao-corpo">
              <div id="plano-apresentacao-corpo-velocidade">
                <h1></h1>
              </div>
              <div id="plano-apresentacao-corpo-vantagens">
                <ul id="plano-apresentacao-corpo-vantagens-lista">
                  <li><img src="img/socialmedia/iconesIndex/fibra.png" alt="icone-fibra" draggable="false" style="height: 25px; width=25px;">100% Fibra Óptica</li>
                  <li><img src="img/socialmedia/iconesIndex/donwload.png" alt="icone-celular" draggable="false" style="height: 25px; width=25px;">Download simétrico</li>
                  <li><img src="img/socialmedia/iconesIndex/upload.png" alt="icone-milbrtv" draggable="false" style="height: 25px; width=25px;">Upload simétrico</li>
                  <li><img src="img/socialmedia/iconesIndex/ipfixo.png" alt="icone-suporte" draggable="false" style="height: 25px; width=25px;">IP FIXO</li>
                  <li><img src="img/socialmedia/iconesIndex/routerBoard.png" alt="icone-suporte" draggable="false" style="height: 25px; width=25px;">Roteador de borda</li>
                  <li><img src="img/socialmedia/iconesIndex/fidelidade.png" alt="icone-suporte" draggable="false" style="height: 25px; width=25px;">Sem contrato de Fidelidade</li>
                  <li><img src="img/socialmedia/iconesIndex/sac.png" alt="icone-suporte" draggable="false" style="height: 25px; width=25px;">Suporte Técnico</li>
                  <li><i class='bx bx-notepad'></i>Monitoramento personalizado</li>
                  <li><i class='bx bx-support'></i>Prioridade no atendimento</li>
                  <li style="height: 60px;"><i class='bx bx-broadcast'></i>Hotspot opcional (Gerenciamento de usuários)</li>
                </ul>
              </div>
              <div id="plano-apresentacao-corpo-botao">
                <button><a href="/planos#planos-conteudo-imagem-plano-corporativo">SAIBA MAIS</a></button>
              </div>
            </div>
          </div>
        </div>        

      </div>
    </div>
       
    @* AREA DO CLIENTE *@
    <div id="index-area-cliente-conteudo-area-cliente">
      <!-- icones -->
      <div id="index-area-cliente-conteudo-area-cliente-links-uteis">
        <div id="index-area-cliente-conteudo-area-cliente-links-uteis-section">
          <img src="img/socialmedia/predio_Milbr_foto.png" alt="index-area-cliente-conteudo-area-cliente-links-uteis-section-backgroundImage" draggable="false">
        
          <div id="index-area-cliente-conteudo-area-cliente-links-uteis-section-titulo">
            <h4>Disponível para você</h4>
            <h1 data-aos="fade-up">ÁREA DO CLIENTE</h1>
          </div>
        </div>

        <!---- cabecalho-ux-acesso-links-diretos-de-acesso-clicaveis ------> 
        <div id="index-area-cliente-conteudo-area-cliente-links-uteis-clicaveis">
          @* fatura *@
          <div id="index-area-cliente-conteudo-area-cliente-links-uteis-acessiveis-click" data-aos="zoom-in">
            <div id="index-area-cliente-conteudo-area-cliente-links-uteis-acessiveis-click-icone">
              <img src="img/socialmedia/iconesIndex/fatura.png"
                alt="index-area-cliente-conteudo-area-cliente-links-uteis-acessiveis-click-icone-png" draggable="false">
            </div>
            <div id="index-area-cliente-conteudo-area-cliente-links-uteis-acessiveis-click-texto">
              <a href="http://milbr.com.br/FATURAFACIL">PAGUE SUA FATURA</a>
            </div>
          </div>

          @* teste de velocidade *@
          <div id="index-area-cliente-conteudo-area-cliente-links-uteis-acessiveis-click" data-aos="zoom-in">
            <div id="index-area-cliente-conteudo-area-cliente-links-uteis-acessiveis-click-icone">
              <img src="img/socialmedia/iconesIndex/testeVelocidade.png"
                alt="index-area-cliente-conteudo-area-cliente-links-uteis-acessiveis-click-icone-png" draggable="false">
            </div>
            <div id="index-area-cliente-conteudo-area-cliente-links-uteis-acessiveis-click-texto">
              <a href="https://fast.com/pt/">TESTE DE VELOCIDADE</a>
            </div>
          </div>

          @* donwload *@
          <div id="index-area-cliente-conteudo-area-cliente-links-uteis-acessiveis-click" data-aos="zoom-in">
            <div id="index-area-cliente-conteudo-area-cliente-links-uteis-acessiveis-click-icone">
              <img src="img/socialmedia/iconesIndex/donwload.png"
                alt="index-area-cliente-conteudo-area-cliente-links-uteis-acessiveis-click-icone-png" draggable="false">
            </div>
            <div id="index-area-cliente-conteudo-area-cliente-links-uteis-acessiveis-click-texto">
              <a href="#">DOWNLOADS</a>
            </div>
          </div>

          @* webmail *@
          <div id="index-area-cliente-conteudo-area-cliente-links-uteis-acessiveis-click" data-aos="zoom-in">
            <div id="index-area-cliente-conteudo-area-cliente-links-uteis-acessiveis-click-icone">
              <img src="img/socialmedia/iconesIndex/email.png"
                alt="index-area-cliente-conteudo-area-cliente-links-uteis-acessiveis-click-icone-png" draggable="false">
            </div>
            <div id="index-area-cliente-conteudo-area-cliente-links-uteis-acessiveis-click-texto">
              <a href="https://webmail.milbr.net/">WEBMAIL MILBR</a>
            </div>
          </div>

          @* links uteis *@
          <div id="index-area-cliente-conteudo-area-cliente-links-uteis-acessiveis-click" data-aos="zoom-in">
            <div id="index-area-cliente-conteudo-area-cliente-links-uteis-acessiveis-click-icone">
              <img src="img/socialmedia/iconesIndex/iconesUteis.png"
                alt="index-area-cliente-conteudo-area-cliente-links-uteis-acessiveis-click-icone-png" draggable="false">
            </div>
            <div id="index-area-cliente-conteudo-area-cliente-links-uteis-acessiveis-click-texto">
              <a href="/Legacy/linksUteis">LINKS ÚTEIS</a>
            </div>
          </div>

          @* contrato de serviço *@
          <div id="index-area-cliente-conteudo-area-cliente-links-uteis-acessiveis-click" data-aos="zoom-in">
            <div id="index-area-cliente-conteudo-area-cliente-links-uteis-acessiveis-click-icone">
              <img src="img/socialmedia/iconesIndex/contrato.png"
                alt="index-area-cliente-conteudo-area-cliente-links-uteis-acessiveis-click-icone-png" draggable="false">
            </div>
            <div id="index-area-cliente-conteudo-area-cliente-links-uteis-acessiveis-click-texto">
              <a href="/pdf/adesao.pdf" target="_blank">CONTRATO DE SERVIÇO</a>
            </div>
          </div>

          @* se liga na dica *@
          <div id="index-area-cliente-conteudo-area-cliente-links-uteis-acessiveis-click" data-aos="zoom-in">
            <div id="index-area-cliente-conteudo-area-cliente-links-uteis-acessiveis-click-icone">
              <img src="img/socialmedia/iconesIndex/dica.png"
                alt="index-area-cliente-conteudo-area-cliente-links-uteis-acessiveis-click-icone-png" draggable="false">
            </div>
            <div id="index-area-cliente-conteudo-area-cliente-links-uteis-acessiveis-click-texto">
              <a href="">SE LIGA NA DICA</a>
            </div>
          </div>


          @* histórico de promoçoes *@
          <div id="index-area-cliente-conteudo-area-cliente-links-uteis-acessiveis-click" data-aos="zoom-in">
            <div id="index-area-cliente-conteudo-area-cliente-links-uteis-acessiveis-click-icone">
              <img src="img/socialmedia/iconesIndex/promoçoes.png"
                alt="index-area-cliente-conteudo-area-cliente-links-uteis-acessiveis-click-icone-png" draggable="false">
            </div>
            <div id="index-area-cliente-conteudo-area-cliente-links-uteis-acessiveis-click-texto">
              <a href="/legacy/Promocoes">HISTÓRICO DE PROMOÇÕES</a>
            </div>
          </div>
        </div>
      </div>
    </div>

    @* NOSSAS VANTAGENS *@
    <div id="index-area-cliente-conteudo-vantagens">
      <div id="index-area-cliente-conteudo-vantagens-titulo" data-aos="fade-right"> <!--- Elmentor --->
        <h1>VANTAGENS EXCLUSIVAS PARA VOCÊ</h1>
      </div>
      <div id="index-area-cliente-conteudo-vantagens-icones">
        <!-- ESTRUTURA DE UM ICONE -->
        @* Fibra ótica *@
        <div id="index-area-cliente-conteudo-vantagens-icone" data-aos="zoom-in">
          <div class="icone-icon">
            <img src="img/socialmedia/iconesIndex/fibra.png" alt="icone-icon-img" draggable="false">
          </div>
          <div id="icone-titulo">
            <h2>100% FIBRA</h2>
          </div>
          <div id="icone-descricao">Atendendo toda zona urbana</div>
        </div>

        @* milbrtv *@
        <div id="index-area-cliente-conteudo-vantagens-icone" data-aos="zoom-in">
          <div class="icone-icon">
            <img src="img/socialmedia/iconesIndex/televisao.png" alt="icone-icon-img" draggable="false">
          </div>
          <div id="icone-titulo">
            <h2>MilBr TV</h2>
          </div>
          <div id="icone-descricao">Instale na sua televisão. Grátis no app!</div>
        </div>

        @* telefonia *@
        <div id="index-area-cliente-conteudo-vantagens-icone" data-aos="zoom-in">
          <div class="icone-icon">
            <img src="img/socialmedia/iconesIndex/telefonia.png" alt="icone-icon-img" draggable="false">
          </div>
          <div id="icone-titulo">
            <h2>MilBr TD</h2>
          </div>
          <div id="icone-descricao">Portabilidade e ligações ilimitadas</div>
        </div>

        @* aplicativo *@
        <div id="index-area-cliente-conteudo-vantagens-icone" data-aos="zoom-in">
          <div class="icone-icon">
            <img src="img/socialmedia/iconesIndex/milbrFacil.png" alt="icone-icon-img" draggable="false">
          </div>
          <div id="icone-titulo">
            <h2>APP+FÁCIL</h2>
          </div>
          <div id="icone-descricao">A MilBr na palma da sua mão</div>
        </div>

        @* Atendimento Personalizado *@
        <div id="index-area-cliente-conteudo-vantagens-icone" data-aos="zoom-in">
          <div class="icone-icon">
            <img src="img/socialmedia/iconesIndex/instalacaoPersonalizada.png" alt="icone-icon-img" draggable="false">
          </div>
          <div id="icone-titulo">
            <h2>SUPORTE</h2>
          </div>
          <div id="icone-descricao">Atendimento humanizado</div>
        </div>

        @* Instalação personalizada *@
        <div id="index-area-cliente-conteudo-vantagens-icone" data-aos="zoom-in">
          <div class="icone-icon">
            <img src="img/socialmedia/iconesIndex/instalacaoPersonalizada.png" alt="icone-icon-img" draggable="false">
          </div>
          <div id="icone-titulo">
            <h2>INSTALAÇÃO</h2>
          </div>
          <div id="icone-descricao">Feita conforme a necessidade do cliente</div>
        </div>

        @* Sem Fidelidade *@
        <div id="index-area-cliente-conteudo-vantagens-icone" data-aos="zoom-in">
          <div class="icone-icon">
            <img src="img/socialmedia/iconesIndex/fidelidade.png" alt="icone-icon-img" draggable="false">
          </div>
          <div id="icone-titulo">
            <h2>SEM CONTRATO</h2>
          </div>
          <div id="icone-descricao">Você pode cancelar quando quiser</div>
        </div>

        @* Qualidade garantida *@
        <div id="index-area-cliente-conteudo-vantagens-icone" data-aos="zoom-in">
          <div class="icone-icon">
            <img src="img/socialmedia/iconesIndex/qualidade.png" alt="icone-icon-img" draggable="false">
          </div>
          <div id="icone-titulo">
            <h2>GARANTIDA</h2>
          </div>
          <div id="icone-descricao">Entrega o que realmente promete</div>
        </div>

      </div>
    </div>

    @* REDES SOCIAIS *@
    <div id="index-area-cliente-conteudo-redes-sociais">
      <div id="index-area-cliente-conteudo-redes-sociais-cima">
        <div id="index-area-cliente-conteudo-redes-sociais-cima-titulo">
          <h3>Redes Sociais</h3>
          <h1 data-aos="fade-up">VEJA O QUÊ TÁ ROLANDO</h1>
        </div>
        <div id="index-area-cliente-conteudo-redes-sociais-cima-redesSociais">
          <div class="index-area-cliente-conteudo-redes-sociais-cima-redesSociais-responsividade">
            <a href="https://www.instagram.com/milbrnet/"><i class='bx bxl-instagram'></i></a>
            <a href="https://www.facebook.com/Milbrnet/"><i class='bx bxl-facebook-square' ></i></a>
            <a href="https://www.youtube.com/@@milbr5068"><i class='bx bxl-youtube' ></i></a>
          </div>
        </div>
      </div>

      @* PUBLICAÇÕES DO INSTAGRAM *@
      <div id="index-area-cliente-conteudo-redes-sociais-publicacoes">
        <div id="index-area-cliente-conteudo-redes-sociais-publicacoes-publicacao">
          <a href="https://www.instagram.com/p/DGgFhceR_oJ/?utm_source=ig_web_copy_link">
            <img src="img/socialmedia/redesSociais/miniatura.png" alt="index-area-cliente-conteudo-redes-sociais-publicacoes-png" draggable="false" data-aos="zoom-in">
            <div id="index-area-cliente-conteudo-redes-sociais-publicacoes-publicacao-numero-postagem">1</div>
          </a>
        </div>
        <div id="index-area-cliente-conteudo-redes-sociais-publicacoes-publicacao">
          <a href="https://www.instagram.com/reel/DGqMheEB3sF/?utm_source=ig_web_copy_link&igsh=MzRlODBiNWFlZA==">
            <img src="img/socialmedia/redesSociais/miniatura2.png" alt="index-area-cliente-conteudo-redes-sociais-publicacoes-png" draggable="false" data-aos="zoom-in">
            <div id="index-area-cliente-conteudo-redes-sociais-publicacoes-publicacao-numero-postagem">2</div>
          </a>
        </div>
        <div id="index-area-cliente-conteudo-redes-sociais-publicacoes-publicacao">
          <a href="https://www.instagram.com/p/DGifJjTxY_9/?utm_source=ig_web_copy_link&igsh=MzRlODBiNWFlZA==">
            <img src="img/socialmedia/redesSociais/miniatura3.png" alt="index-area-cliente-conteudo-redes-sociais-publicacoes-png" draggable="false" data-aos="zoom-in" >
            <div id="index-area-cliente-conteudo-redes-sociais-publicacoes-publicacao-numero-postagem">3</div>
          </a>
        </div>
      </div>

    </div>

    @* PERGUNTAS FREQUENTES *@
    <div id="index-area-cliente-conteudo-perguntas-frequentes">
      <div id="index-area-cliente-conteudo-faq-titulo" data-aos="fade-right"> <!---- Elementor ---->
        <h1>PERGUNTAS FREQUENTES</h1>
      </div>

      <div id="index-area-cliente-conteudo-perguntas-frequentes-responsividade">
        <div id="index-area-cliente-conteudo-perguntas-frequentes-titulo">
          <h2>FAQ</h2>
          <h1 data-aos="fade-up">QUAL É A DÚVIDA</h1>
        </div>

        <!------ #FAQ's --------->
      <div id="index-area-cliente-conteudo-perguntas-frequentes-lista">
        <div id="index-area-cliente-conteudo-perguntas-frequentes-lista-faq-questao" class="close">
          <div id="faq-questao-titulo">
            <h1>COMO FAÇO PARA CONTRATAR UM PLANO DE INTERNET?</h1>
            <i class='bx bx-chevron-down'></i>
          </div>
          <div id="faq-questao-resposta">
            Entre em contato com nosso atendimento através do (35) 3571-5000 que também é Whatsapp.
          </div>
        </div>


        @* PASSAR CADASTRO *@
        <div id="index-area-cliente-conteudo-perguntas-frequentes-lista-faq-questao" class="close">
          <div id="faq-questao-titulo">
            <h1>COMO POSSO PASSAR MEU CADASTRO PARA OUTRA PESSOA?</h1>
            <i class='bx bx-chevron-down'></i>
          </div>
          <div id="faq-questao-resposta">
            Entre em contato com nosso atendimento através do (35) 3571-5000 que também é Whatsapp ou visite uma de
            nossas lojas (Muzambinho / Juruaia / Cabo Verde / Nova Resende).
          </div>
        </div>

        @* FORMAS DE PAGAMENTO *@
        <div id="index-area-cliente-conteudo-perguntas-frequentes-lista-faq-questao" class="close">
          <div id="faq-questao-titulo">
            <h1>COMO POSSO EFETUAR O PAGAMENTO?</h1>
            <i class='bx bx-chevron-down'></i>
          </div>
          <div id="faq-questao-resposta">
            <p>
              <i class='bx bxs-circle'></i> Através do aplicativo MILBR + FÁCIL, disponível para ANDROID e IOS, sendo o
              primeiro acesso feito com o CPF do titular como usuário e senha;
            </p>
            <p>
              <i class='bx bxs-circle'></i> Através do portal FATURA FÁCIL, utilizando o CPF do titular para acessar os
              débitos;
            </p>
            <p>
              <i class='bx bxs-circle'></i> Visitando uma de nossas lojas (Muzambinho / Juruaia / Cabo Verde / Nova
              Resende).
            </p>
          </div>
        </div>

        @* HORÁRIO DE FUNCIONAMENTO *@
        <div id="index-area-cliente-conteudo-perguntas-frequentes-lista-faq-questao" class="close">
          <div id="faq-questao-titulo">
            <h1>QUAL HORÁRIO DE FUNCIONAMENTO DA MILBR?</h1>
            <i class='bx bx-chevron-down'></i>
          </div>
          <div id="faq-questao-resposta">
            <!-- MUZAMBINHO HORÁRIO -->
            <p><i class='bx bxs-circle'></i><span style="font-size: 20px; font-weight: bolder; padding-left: 5px;">Muzambinho:</span> Segunda à sexta, das 08h às 18h.</p>
            
            <!-- JURUAIA HORÁRIO -->
            <p>
              <i class='bx bxs-circle'></i><span style="font-size: 20px; font-weight: bolder; padding-left: 5px;">Juruaia:</span> Segunda à sexta, das 08h às 12h e das 13:15h às 18h.
            </p>
            
            <!-- CABO VERDE HORÁRIO -->
            <p>
              <i class='bx bxs-circle'></i><span style="font-size: 20px; font-weight: bolder; padding-left: 5px;">Cabo Verde:</span> Segunda à sexta, das 08h às 11:30h e das 12:45h às 18h.
            </p>
            
            <!-- NOVA RESENDE HORÁRIO -->
            <p>
              <i class='bx bxs-circle'></i><span style="font-size: 20px; font-weight: bolder; padding-left: 5px;">Nova Resende:</span> Segunda à sexta, das 08h às 12h e das 13:15h às 18h.
            </p>
          </div>
        </div>

        @* SEM INTERNET *@
        <div id="index-area-cliente-conteudo-perguntas-frequentes-lista-faq-questao" class="close">
          <div id="faq-questao-titulo">
            <h1>FIQUEI SEM INTERNET, O QUE FAÇO?</h1>
            <i class='bx bx-chevron-down'></i>
          </div>
          <div id="faq-questao-resposta">
            <p><i class='bx bxs-circle'></i><span style="font-size: 20px; padding-left: 5px;">Confirme se seus equipamentos estão ligados corretamente.</p>
            <p><i class='bx bxs-circle'></i><span style="font-size: 20px; padding-left: 5px;">Verifique se o nome do WI-FI está aparecendo.</p>
            <p><i class='bx bxs-circle'></i><span style="font-size: 20px; padding-left: 5px;">Retire os equipamentos da tomada, aguarde 1 minuto e ligue-os novamente.</p>
            <p><i class='bx bxs-circle'></i><span style="font-size: 20px; padding-left: 5px;">Após isso, aguarde 5 minutos.</p>
            <p><i class='bx bxs-circle'></i><span style="font-size: 20px; padding-left: 5px;">Caso a conexão não retornar à normalidade, entre em contato com o suporte técnico pelo whatsapp 35 3571-5000.</p>
          </div>
        </div>

        @* LIMITE DE TRÁFEGO *@
        <div id="index-area-cliente-conteudo-perguntas-frequentes-lista-faq-questao" class="close">
          <div id="faq-questao-titulo">
            <h1>TEM LIMITE DE FRANQUIA?</h1>
            <i class='bx bx-chevron-down'></i>
          </div>
          <div id="faq-questao-resposta">
            Os planos são ilimitados para uso de dados.
          </div>
        </div>

        @* TESTE DE VELOCIDADE *@
        <div id="index-area-cliente-conteudo-perguntas-frequentes-lista-faq-questao" class="close">
          <div id="faq-questao-titulo">
            <h1>COMO TESTAR A VELOCIDADE DO PLANO CONTRATADO?</h1>
            <i class='bx bx-chevron-down'></i>
          </div>
          <div id="faq-questao-resposta">
            Para uma verificação de forma mais precisa, é indicado acessar um medidor de velocidade através de um computador cabeado. Nós recomendamos o <a href="fast.com" style="font-size:20px; color=white; font-weight:bolder;">Fast</a>, pela sua segurança e estabilidade. O mesmo, está disponível na área do cliente.
          </div>
        </div>

        @* TESTE PELO WIFI *@
        <div id="index-area-cliente-conteudo-perguntas-frequentes-lista-faq-questao" class="close">
          <div id="faq-questao-titulo">
            <h1>CONSIGO TESTAR A VELOCIDADE ATRAVÉS DO WI-FI?</h1>
            <i class='bx bx-chevron-down'></i>
          </div>
          <div id="faq-questao-resposta">
            Sim, é possível. Porém pelo fato do teste não ser feito em um equipamento cabeado, sofre mais variações de velocidade nos
            resultados. A forma mais precisa é se conectar à rede 5GHZ, com o equipamento do teste posicionado o mais próximo possível do roteador.
          </div>
        </div>

        @* DIFERENÇAS ENTRE REDE 2.4Ghz e 5Ghz *@
        <div id="index-area-cliente-conteudo-perguntas-frequentes-lista-faq-questao" class="close">
          <div id="faq-questao-titulo">
            <h1>QUAIS AS DIFERENÇAS DE REDE 2.4GHZ E 5GHZ?</h1>
            <i class='bx bx-chevron-down'></i>
          </div>
          <div id="faq-questao-resposta">
            Redes 2.4GHz enfrentam mais interferências de dispositivos como micro-ondas e telefones sem fio, resultando
            em maior alcance, mas com menor qualidade de sinal. Já as redes 5GHz têm menos interferência e oferecem
            maior taxa de transmissão, mas têm alcance reduzido, pois as ondas de 5GHz têm mais dificuldade em
            atravessar obstáculos.
          </div>
        </div>

        @* QUANTIDADE DE DISPOSITIVOS X LENTIDAO *@
        <div id="index-area-cliente-conteudo-perguntas-frequentes-lista-faq-questao" class="close">
          <div id="faq-questao-titulo">
            <h1>A QUANTIDADE DE DISPOSITIVOS CONECTADOS AO WI-FI DEIXAM A CONEXÃO MAIS LENTA?</h1>
            <i class='bx bx-chevron-down'></i>
          </div>
          <div id="faq-questao-resposta">
            Sim, quanto maior o número de dispositivos conectados e utilizando a internet de forma simultânea, maior variação na velocidade da conexão.
          </div>
        </div>
        
        @* O SERVIÇO DA MILBR TV ESTÁ DISPONÍVEL PARA QUALQUER TIPO DE CONEXÃO? *@
        <div id="index-area-cliente-conteudo-perguntas-frequentes-lista-faq-questao" class="close">
          <div id="faq-questao-titulo">
            <h1>O SERVIÇO DA MILBR TV ESTÁ DISPONÍVEL PARA QUALQUER TIPO DE CONEXÃO?</h1>
            <i class='bx bx-chevron-down'></i>
          </div>
          <div id="faq-questao-resposta">
            O serviço da MILBR TV está disponível para planos em fibra óptica na área urbana que partem de 300Mbps.
          </div>
        </div>
      </div>
      </div>
    </div>

    @* LOCALIZAÇÃO *@
    <div id="index-area-cliente-conteudo-localizacao-responsividade">
    <!-- RESPONSIVIDADE DENTRO DE LOCALIZAÇÃO -->
      <div id="index-area-cliente-conteudo-localizacao">
        <!-- TÍTULO DA LOCALIZAÇÃO -->
        <div id="index-area-cliente-conteudo-localizacao-titulo">
          <h1>LOCALIZAÇÃO</h1>
        </div>

        <!-- MENU DE BOTÕES DE CIDADES SELECIONÁVEIS -->
        <div id="index-area-cliente-conteudo-localizacao-cidades">
          <button data-target="index-botao-cidade-selecionada-Muzambinho"   class="nav-loc">Muzambinho</button>
          <button data-target="index-botao-cidade-selecionada-CaboVerde"    class="nav-loc">Cabo Verde</button>
          <button data-target="index-botao-cidade-selecionada-Juruaia"      class="nav-loc">Juruaia</button>
          <button data-target="index-botao-cidade-selecionada-NovaResende"  class="nav-loc">Nova Resende</button>
        </div>
        
        <!--------------- + CONTEÚDO GERÁVEL + --------------->
        <div id="index-area-cliente-conteudo-localizacao-mapas-geraveis">
          
          @* CONTEUDO GERAVEL MUZAMBINHO *@          
          <div id="index-botao-cidade-selecionada-Muzambinho" class="mapa-filho open">
            <!---------------------- = IMPORT DO IFRAME DO GOOGLE = --------------------------->
            <div id="index-area-cliente-conteudo-localizacao-mapas-geraveis-gps">
              <iframe
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1857.834951122016!2d-46.52361620983103!3d-21.363511851403775!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94b63fdc57675715%3A0xc8b95898def3e37b!2sMilbr.Net!5e0!3m2!1spt-BR!2sbr!4v1733390243721!5m2!1spt-BR!2sbr"
                style="border:0;" allowfullscreen="" loading="lazy"
                referrerpolicy="no-referrer-when-downgrade">
              </iframe>
            </div>

            <!------------------------------ = INFORMAÇÕES POR ESCRITO = --------------------->
            <div id="index-area-cliente-conteudo-localizacao-mapas-geraveis-informacoes">
              <div id="index-area-cliente-conteudo-localizacao-mapas-geraveis-informacoes-avenida">
                <img src="img/socialmedia/iconesIndex/localizacao.png" alt="index-area-cliente-conteudo-localizacao-mapas-geraveis-informacoes-avenida-png" draggable="false">
                <p>Rua Merry, 360 - Bairro Jardim Paineiras</p>
              </div>

              <div id="index-area-cliente-conteudo-localizacao-mapas-geraveis-informacoes-horario-funcionamento">
                <img src="img/socialmedia/iconesIndex/horario.png" alt="index-area-cliente-conteudo-localizacao-mapas-geraveis-informacoes-horario-funcionamento-png" draggable="false">
                <div id="texto-dividido-time">
                  <p>Seg - Sex: 08h às 18h</p>
                  <p>Sáb - Dom: Fechado</p>
                  <p>Atendimento: Suporte online</p>
                </div>
              </div>

              <div id="index-area-cliente-conteudo-localizacao-mapas-geraveis-informacoes-contato">
                <img src="img/socialmedia/iconesIndex/whatsapp.png" alt="index-area-cliente-conteudo-localizacao-mapas-geraveis-informacoes-contato-png" draggable="false">
                <div id="texto-dividido-time">
                  <p>(35) 3571-5000</p>
                </div>
              </div>


              <div id="index-area-cliente-conteudo-localizacao-mapas-geraveis-informacoes-whatsapp">
                @* <img src="img/socialmedia/iconesIndex/whatsapp.png" alt="index-area-cliente-conteudo-localizacao-mapas-geraveis-informacoes-whatsapp-png" draggable="false"> *@
                <i class='bx bx-envelope' style="color:#1159A4; font-size: 30px;"></i>
                <p>sac@grupomilbr.com.br</p>
              </div>
            </div>
          </div>

          @* CONTEUDO GERAVEL CABO VERDE *@  
          <div id="index-botao-cidade-selecionada-CaboVerde" class="mapa-filho close">
            <!---------------------- = IMPORT DO IFRAME DO GOOGLE = --------------------------->
            <div id="index-area-cliente-conteudo-localizacao-mapas-geraveis-gps">
              <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3712.9597221269887!2d-46.40370872399675!3d-21.470096980291984!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94b61a602ae69491%3A0xb1712605b751040b!2sMilbr.Net!5e0!3m2!1spt-BR!2sbr!4v1737384519121!5m2!1spt-BR!2sbr" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>

            <!------------------------------ = INFORMAÇÕES POR ESCRITO = --------------------->
            <div id="index-area-cliente-conteudo-localizacao-mapas-geraveis-informacoes">
              <div id="index-area-cliente-conteudo-localizacao-mapas-geraveis-informacoes-avenida">
                <img src="img/socialmedia/iconesIndex/localizacao.png" alt="index-area-cliente-conteudo-localizacao-mapas-geraveis-informacoes-avenida-png" draggable="false">
                <p>Av. Dr. Antônio de Souza Melo, 452 - Centro</p>
              </div>

              <div id="index-area-cliente-conteudo-localizacao-mapas-geraveis-informacoes-horario-funcionamento">
                <img src="img/socialmedia/iconesIndex/horario.png" alt="index-area-cliente-conteudo-localizacao-mapas-geraveis-informacoes-horario-funcionamento-png" draggable="false">
                <div id="texto-dividido-time">
                  <p>Seg - Sex: 08h ás 11:30h e 12:45h ás 18h</p>
                  <p>Sáb - Dom: Fechado</p>
                  <p>Atendimento: Suporte online</p>
                </div>
              </div>

              <div id="index-area-cliente-conteudo-localizacao-mapas-geraveis-informacoes-contato">
                <img src="img/socialmedia/iconesIndex/whatsapp.png" alt="index-area-cliente-conteudo-localizacao-mapas-geraveis-informacoes-contato-png" draggable="false">
                <div id="texto-dividido-time">
                  <p>(35) 3571-5000</p>
                </div>
              </div>

              <div id="index-area-cliente-conteudo-localizacao-mapas-geraveis-informacoes-whatsapp">
                @* <img src="img/socialmedia/iconesIndex/whatsapp.png" alt="index-area-cliente-conteudo-localizacao-mapas-geraveis-informacoes-whatsapp-png" draggable="false"> *@
                <i class='bx bx-envelope' style="color:#1159A4; font-size: 30px;"></i>
                <p>sac@grupomilbr.com.br</p>
              </div>
            </div>

          </div>

          @* CONTEUDO GERAVEL JURUAIA *@
          <div id="index-botao-cidade-selecionada-Juruaia" class="mapa-filho close">
            <!---------------------- = IMPORT DO IFRAME DO GOOGLE = --------------------------->
            <div id="index-area-cliente-conteudo-localizacao-mapas-geraveis-gps">
              <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2211.005875157781!2d-46.5832458648021!3d-21.25349606553157!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94b6439b97fb4a15%3A0x6f7c36ce8900afd0!2sMilbr%20(JURUAIA-MG)!5e0!3m2!1spt-BR!2sbr!4v1737384621115!5m2!1spt-BR!2sbr" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>

            <!------------------------------ = INFORMAÇÕES POR ESCRITO = --------------------->
            <div id="index-area-cliente-conteudo-localizacao-mapas-geraveis-informacoes">
              <div id="index-area-cliente-conteudo-localizacao-mapas-geraveis-informacoes-avenida">
                <img src="img/socialmedia/iconesIndex/localizacao.png" alt="index-area-cliente-conteudo-localizacao-mapas-geraveis-informacoes-avenida-png" draggable="false">
                <p>Rua Ver. Alberto Mário Segretti, n° 86 - Centro</p>
              </div>

              <div id="index-area-cliente-conteudo-localizacao-mapas-geraveis-informacoes-horario-funcionamento">
                <img src="img/socialmedia/iconesIndex/horario.png" alt="index-area-cliente-conteudo-localizacao-mapas-geraveis-informacoes-horario-funcionamento-png" draggable="false">
                <div id="texto-dividido-time">
                  <p>Seg - Sex: 8h às 12h e das 13:15h às 18h</p>
                  <p>Sáb - Dom: Fechado</p>
                  <p>Atendimento: Suporte online</p>
                </div>
              </div>

              <div id="index-area-cliente-conteudo-localizacao-mapas-geraveis-informacoes-contato">
                <img src="img/socialmedia/iconesIndex/whatsapp.png" alt="index-area-cliente-conteudo-localizacao-mapas-geraveis-informacoes-contato-png" draggable="false">
                <div id="texto-dividido-time">
                  <p>(35) 3571-5000</p>
                </div>
              </div>

              <div id="index-area-cliente-conteudo-localizacao-mapas-geraveis-informacoes-whatsapp">
                @* <img src="img/socialmedia/iconesIndex/whatsapp.png" alt="index-area-cliente-conteudo-localizacao-mapas-geraveis-informacoes-whatsapp-png" draggable="false"> *@
                <i class='bx bx-envelope' style="color:#1159A4; font-size: 30px;"></i>
                <p>sac@grupomilbr.com.br</p>
              </div>
            </div>

          </div>

          @* CONTEUDO GERAVEL NOVA RESENDE *@
          <div id="index-botao-cidade-selecionada-NovaResende" class="mapa-filho close">
            <!---------------------- = IMPORT DO IFRAME DO GOOGLE = --------------------------->
            <div id="index-area-cliente-conteudo-localizacao-mapas-geraveis-gps">
              <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3721.5447336540947!2d-46.428759724740644!3d-21.13070928054428!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94b6652997ff5e8f%3A0x8922c2de4675039c!2sMilbr.Net%20(Nova%20Resende)!5e0!3m2!1spt-BR!2sbr!4v1734916621379!5m2!1spt-BR!2sbr" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>

            <!------------------------------ = INFORMAÇÕES POR ESCRITO = --------------------->
            <div id="index-area-cliente-conteudo-localizacao-mapas-geraveis-informacoes">
              <div id="index-area-cliente-conteudo-localizacao-mapas-geraveis-informacoes-avenida">
                <img src="img/socialmedia/iconesIndex/localizacao.png" alt="index-area-cliente-conteudo-localizacao-mapas-geraveis-informacoes-avenida-png" draggable="false">
                <p>Rua Delfim Moreira, 683 - Centro</p>
              </div>

              <div id="index-area-cliente-conteudo-localizacao-mapas-geraveis-informacoes-horario-funcionamento">
                <img src="img/socialmedia/iconesIndex/horario.png" alt="index-area-cliente-conteudo-localizacao-mapas-geraveis-informacoes-horario-funcionamento-png" draggable="false">
                <div id="texto-dividido-time">
                  <p>Seg - Sex: 08h ás 12h e 13:15h ás 18h</p>
                  <p>Sáb - Dom: Fechado</p>
                  <p>Atendimento: Suporte online</p>
                </div>
              </div>

              <div id="index-area-cliente-conteudo-localizacao-mapas-geraveis-informacoes-contato">
                <img src="img/socialmedia/iconesIndex/whatsapp.png" alt="index-area-cliente-conteudo-localizacao-mapas-geraveis-informacoes-contato-png" draggable="false">
                <div id="texto-dividido-time">
                  <p>(35) 3571-5000</p>
                </div>
              </div>

              <div id="index-area-cliente-conteudo-localizacao-mapas-geraveis-informacoes-whatsapp">
                @* <img src="img/socialmedia/iconesIndex/whatsapp.png" alt="index-area-cliente-conteudo-localizacao-mapas-geraveis-informacoes-whatsapp-png" draggable="false"> *@
                <i class='bx bx-envelope' style="color:#1159A4; font-size: 30px;"></i>
                <p>sac@grupomilbr.com.br</p>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
  </div>
</div>

<script src="js/carrossel.js"></script>
<script src="js/navegacaoButton.js"></script>
<script src="js/cookiesExternos.js"></script>