@page
@model webAppMilbr.Pages.Planos

@{
    Layout = "~/Pages/Shared/Layout.cshtml";

    @* VÁRIAVEIS DE AMBIENTE, AJUDANDO NA PESQUISA *@
    ViewData["campo1"] = "PLANOS";
    ViewData["campo2"] = "ÁREA DO CLIENTE";
    ViewData["campo3"] = "SERVIÇOS";
    ViewData["campo4"] = "SOBRE NÓS";
    ViewData["campo5"] = "FAQ";

    @* VARIAVEIS DE NAVEGAÇÃO ENTRE PAGES *@
    ViewData["link1"] = "/index#index-area-cliente-conteudo-conhecer-planos-titulo";
    ViewData["link2"] = "/index#index-area-cliente-conteudo-area-cliente-links-uteis-titulo";
    ViewData["link3"] = "/processos";
    ViewData["link4"] = "/sobre";
    ViewData["link5"] = "/index#index-area-cliente-conteudo-perguntas-frequentes";
}

<div id="planos-conteudo-responsividade">
    <div class="planos-conteudo-responsividade-conteudo">
        @* imagem promocional *@
        <div id="planos-conteudo-imagem-promocional">
            <img src="img/socialmedia/banner-planos-imagem-promocional.png" alt="planos-conteudo-imagem-promocional-png" draggable="false">
            <div id="planos-conteudo-imagem-promocional-texto">
                <h1>Internet de qualidade é mais que velocidade </h1>
                <h3>
                É atendimento humanizado, suporte on line 
                todos os dias e equipe técnica que resolve 
                rápido.
                </h3>
            </div>
        </div>
        
        @* PLANOS RESIDENCIAIS *@
        <div id="planos-conteudo-imagem-planos-residenciais">
            <div id="planos-conteudo-imagem-planos-residenciais-titulo">
                <h1>PLANOS RESIDENCIAIS</h1>
            </div>

            <div id="planos-conteudo-imagem-planos-residenciais-planos">
                <!-- PLANO TURBO -->
                <div id="planos-conteudo-imagem-planos-residenciais-planos-plano">
                    <div class="planos-conteudo-fita">
                        <h1>TURBO</h1>
                    </div>

                    <div id="planos-conteudo-imagem-planos-residenciais-planos-plano-titulo">800 MB</div>
                    
                    <div id="planos-conteudo-imagem-planos-residenciais-planos-plano-precos">
                        <ul>
                            <li><img src="img/socialmedia/iconesIndex/fibra.png" alt="planos-conteudo-imagem-planos-residenciais-planos-fibra" draggable="false">100% fibra óptica</li>
                            <li><img src="img/socialmedia/iconesIndex/donwload.png" alt="planos-conteudo-imagem-planos-residenciais-planos-download" draggable="false">800 MB de download</li>
                            <li><img src="img/socialmedia/iconesIndex/upload.png" alt="planos-conteudo-imagem-planos-residenciais-planos-upload" draggable="false">400 MB de upload</li>
                            <li><img src="img/socialmedia/iconesIndex/milbrFacil.png" alt="planos-conteudo-imagem-planos-residenciais-planos-app" draggable="false">APP Milbr +Fácil</li>
                            <li><img src="img/socialmedia/iconesIndex/televisao.png" alt="planos-conteudo-imagem-planos-residenciais-planos-milbrtv" draggable="false">Milbr TV grátis no APP</li>
                            <li><img src="img/socialmedia/iconesIndex/fidelidade.png" alt="planos-conteudo-imagem-planos-residenciais-planos-fidelidade" draggable="false">Sem contrato de fidelidade</li>
                            <li><img src="img/socialmedia/iconesIndex/sac.png" alt="planos-conteudo-imagem-planos-residenciais-planos-suporte" draggable="false">Suporte técnico</li>
                            <li><i class='bx bx-wifi'></i>Roteador incluso</li>
                        </ul>

                        <div id="planos-conteudo-imagem-planos-residenciais-planos-plano-precos-preco">
                            <div id="planos-conteudo-imagem-planos-residenciais-planos-plano-precos-preco-int">
                                <h2>R$</h2>
                                <h1>154</h1>
                            </div>
                            <div id="planos-conteudo-imagem-planos-residenciais-planos-plano-precos-preco-float-mensal">
                                <h2>,50</h2>
                                <h2>/MENSAL</h2>
                            </div>
                        </div>
                    </div>

                    <div id="planos-conteudo-imagem-planos-residenciais-planos-plano-assine-agora">
                        <a href="https://web.whatsapp.com/send?phone=553535715000&text=Ol%C3%A1,%20eu%20vim%20pelo%20plano%20*TURBO*%20anunciado%20no%20site.%20Poderia%20me%20explicar%20melhor%20como%20funciona?%20%F0%9F%98%8A" target="_blank">
                            <button>ASSINE AGORA</button>
                        </a>
                    </div>
                </div>
                
                <!-- PLANO PRO -->
                <div id="planos-conteudo-imagem-planos-residenciais-planos-plano" style="margin-bottom: 100px;">
                    <div class="planos-conteudo-fita">
                        <h1>PRO</h1>
                    </div>

                    <div id="planos-conteudo-imagem-planos-residenciais-planos-plano-titulo">600 MB</div>
                    
                    <div id="planos-conteudo-imagem-planos-residenciais-planos-plano-precos">
                        <ul>
                            <li><img src="img/socialmedia/iconesIndex/fibra.png" alt="planos-conteudo-imagem-planos-residenciais-planos-fibra">100% fibra óptica</li>
                            <li><img src="img/socialmedia/iconesIndex/donwload.png" alt="planos-conteudo-imagem-planos-residenciais-planos-download">600 MB de download</li>
                            <li><img src="img/socialmedia/iconesIndex/upload.png" alt="planos-conteudo-imagem-planos-residenciais-planos-upload">300 MB de upload</li>
                            <li><img src="img/socialmedia/iconesIndex/milbrFacil.png" alt="planos-conteudo-imagem-planos-residenciais-planos-app">APP Milbr +Fácil</li>
                            <li><img src="img/socialmedia/iconesIndex/televisao.png" alt="planos-conteudo-imagem-planos-residenciais-planos-milbrtv">Milbr TV Grátis no APP</li>
                            <li><img src="img/socialmedia/iconesIndex/fidelidade.png" alt="planos-conteudo-imagem-planos-residenciais-planos-fidelidade">Sem contrato de fidelidade</li>
                            <li><img src="img/socialmedia/iconesIndex/sac.png" alt="planos-conteudo-imagem-planos-residenciais-planos-suporte">Suporte técnico</li>
                            <li><i class='bx bx-wifi'></i>Roteador incluso</li>
                        </ul>

                        <div id="planos-conteudo-imagem-planos-residenciais-planos-plano-precos-preco">
                            <div id="planos-conteudo-imagem-planos-residenciais-planos-plano-precos-preco-int">
                                <h2>R$</h2>
                                <h1>134</h1>
                            </div>
                            <div id="planos-conteudo-imagem-planos-residenciais-planos-plano-precos-preco-float-mensal">
                                <h2>,50</h2>
                                <h2>/MENSAL</h2>
                            </div>
                        </div>
                    </div>

                    <div id="planos-conteudo-imagem-planos-residenciais-planos-plano-assine-agora">
                        <a href="https://web.whatsapp.com/send?phone=553535715000&text=Ol%C3%A1,%20eu%20vim%20pelo%20plano%20*PRO*%20anunciado%20no%20site.%20Poderia%20me%20explicar%20melhor%20como%20funciona?%20%F0%9F%98%8A" target="_blank">
                            <button>ASSINE AGORA</button>
                        </a>
                    </div>
                </div>

                <!-- PLANO START -->
                <div id="planos-conteudo-imagem-planos-residenciais-planos-plano" style="height: 620px;">
                    <div class="planos-conteudo-fita">
                        <h1>START</h1>
                    </div>

                    <div id="planos-conteudo-imagem-planos-residenciais-planos-plano-titulo">300 MB</div>
                    
                    <div id="planos-conteudo-imagem-planos-residenciais-planos-plano-precos" style="height: 600px;">
                        <ul>
                            <li><img src="img/socialmedia/iconesIndex/fibra.png" alt="planos-conteudo-imagem-planos-residenciais-planos-fibra">100% fibra óptica</li>
                            <li><img src="img/socialmedia/iconesIndex/donwload.png" alt="planos-conteudo-imagem-planos-residenciais-planos-download">300 MB de download</li>
                            <li><img src="img/socialmedia/iconesIndex/upload.png" alt="planos-conteudo-imagem-planos-residenciais-planos-upload">150 MB de upload</li>
                            <li><img src="img/socialmedia/iconesIndex/milbrFacil.png" alt="planos-conteudo-imagem-planos-residenciais-planos-app">APP Milbr +Fácil</li>
                            <li><img src="img/socialmedia/iconesIndex/televisao.png" alt="planos-conteudo-imagem-planos-residenciais-planos-milbrtv">Milbr TV Grátis no APP</li>
                            <li><img src="img/socialmedia/iconesIndex/fidelidade.png" alt="planos-conteudo-imagem-planos-residenciais-planos-fidelidade">Sem contrato de fidelidade</li>
                            <li><img src="img/socialmedia/iconesIndex/sac.png" alt="planos-conteudo-imagem-planos-residenciais-planos-suporte">Suporte técnico</li>
                        </ul>

                        <div id="planos-conteudo-imagem-planos-residenciais-planos-plano-precos-preco">
                            <div id="planos-conteudo-imagem-planos-residenciais-planos-plano-precos-preco-int">
                                <h2>R$</h2>
                                <h1>108</h1>
                            </div>
                            <div id="planos-conteudo-imagem-planos-residenciais-planos-plano-precos-preco-float-mensal">
                                <h2>,50</h2>
                                <h2>/MENSAL</h2>
                            </div>
                        </div>
                    </div>

                    <div id="planos-conteudo-imagem-planos-residenciais-planos-plano-assine-agora">
                        <a href="https://web.whatsapp.com/send?phone=553535715000&text=Ol%C3%A1,%20eu%20vim%20pelo%20plano%20*START*%20anunciado%20no%20site.%20Poderia%20me%20explicar%20melhor%20como%20funciona?%20%F0%9F%98%8A" target="_blank">
                            <button>ASSINE AGORA</button>
                        </a>
                    </div>
                </div>
            </div>

            <div id="planos-conteudo-imagem-planos-residenciais-observacao">
                <p>*Consulte os combos especiais Internet + TV</p>
                <p>*Temos telefonia fixa com portabilidade e ligações ilimitadas para qualquer operadora e DDD</p>
            </div>
        </div>
        
        @* PLANOS RURAIS *@
        <div id="planos-conteudo-imagem-planos-rurais">
            <div id="planos-conteudo-imagem-planos-rurais-titulo">
                <h1>PLANO RURAL</h1>
            </div>

            <div id="planos-conteudo-imagem-planos-rurais-conteudo">
                @* IMPORT DAS DIVS DE PLANO, NÃO PRECISOU FAZER UM ELEMENTO PORQUE A REPETIÇÃO É PEQUENA *@
                <div id="planos-conteudo-imagem-planos-rurais-plano">
                    <div id="planos-conteudo-imagem-planos-residenciais-planos-plano">
                        <div class="planos-conteudo-fita">
                            <h1>RURAL</h1>
                        </div>

                        <div id="planos-conteudo-imagem-planos-residenciais-planos-plano-titulo">12 MB</div>
                        
                        <div id="planos-conteudo-imagem-planos-residenciais-planos-plano-precos">
                            <ul>
                                <li><img src="img/socialmedia/iconesIndex/donwload.png" alt="planos-conteudo-imagem-planos-residenciais-planos-download" draggable="false">12 MB de Download</li>
                                <li><img src="img/socialmedia/iconesIndex/upload.png" alt="planos-conteudo-imagem-planos-residenciais-planos-upload" draggable="false">5 MB de Upload</li>
                                <li><img src="img/socialmedia/iconesIndex/televisao.png" alt="planos-conteudo-imagem-planos-residenciais-planos-milbrtv" draggable="false">Milbr TV Grátis no APP</li>
                                <li><img src="img/socialmedia/iconesIndex/fidelidade.png" alt="planos-conteudo-imagem-planos-residenciais-planos-fidelidade" draggable="false">Sem contrato de Fidelidade</li>
                                <li><img src="img/socialmedia/iconesIndex/sac.png" alt="planos-conteudo-imagem-planos-residenciais-planos-suporte" draggable="false">Suporte Técnico</li>
                            </ul>

                            <div id="planos-conteudo-imagem-planos-residenciais-planos-plano-precos-preco">
                                <div id="planos-conteudo-imagem-planos-residenciais-planos-plano-precos-preco-int">
                                    <h2>R$</h2>
                                    <h1>108</h1>
                                </div>
                                <div id="planos-conteudo-imagem-planos-residenciais-planos-plano-precos-preco-float-mensal">
                                    <h2>,90</h2>
                                    <h2>/MENSAL</h2>
                                </div>
                            </div>
                        </div>

                        <div id="planos-conteudo-imagem-planos-residenciais-planos-plano-assine-agora">
                            <a href="https://web.whatsapp.com/send?phone=553535715000&text=Ol%C3%A1,%20vim%20pelo%20site,%20gostaria%20de%20saber%20sobre%20os%20planos%20rurais%20dispon%C3%ADveis.%20%F0%9F%98%8A" target="_blank">
                                <button>ASSINE AGORA</button>
                            </a>
                        </div>
                    </div>
                </div>

                <div id="planos-conteudo-imagem-planos-rurais-imagem-promocional">
                    <img src="img/socialmedia/zonarural.jpg" alt="planos-conteudo-imagem-planos-rurais-imagem-promocional.png" draggable="false" style="border-radius: 4px;">
                    <div id="planos-conteudo-imagem-planos-rurais-imagem-promocional-descricoes">
                        <p id="planos-conteudo-imagem-planos-rurais-imagem-promocional-descricao">
                            <i class='bx bxs-circle'></i> Para planos com maior velocidade, consultar viabilidade técnica.
                        </p>
                        <p id="planos-conteudo-imagem-planos-rurais-imagem-promocional-descricao">
                            <i class='bx bxs-circle'></i> Possuímos Planos Rurais Comerciais! 
                        </p>
                    </div>
                </div>
            </div>
        </div>
        
        @* PLANO COMERCIAL *@
        <div id="planos-conteudo-imagem-plano-comercial">
            <div id="planos-conteudo-imagem-plano-comercial-titulo">
                <h1>PLANO COMERCIAL</h1>
            </div>

            <div id="planos-conteudo-imagem-plano-comercial-conteudo">
                <img src="img/socialmedia/comercio.jpg" alt="planos-conteudo-imagem-plano-comercial-conteudo-png" draggable="false" style="border-radius: 4px;">

                <div id="planos-conteudo-imagem-planos-residenciais-planos-plano">
                    <div class="planos-conteudo-fita">
                        <h1>COMERCIAL</h1>
                    </div>
                    
                    <div id="planos-conteudo-imagem-planos-residenciais-planos-plano-titulo"></div>

                    <div id="planos-conteudo-imagem-planos-residenciais-planos-plano-precos">
                        <ul>
                            <li><img src="img/socialmedia/iconesIndex/fibra.png" alt="planos-conteudo-imagem-planos-residenciais-planos-fibra" draggable="false">100% Fibra Óptica</li>
                            <li><img src="img/socialmedia/iconesIndex/donwload.png" alt="planos-conteudo-imagem-planos-residenciais-planos-download" draggable="false">300 MB de Download</li>
                            <li><img src="img/socialmedia/iconesIndex/upload.png" alt="planos-conteudo-imagem-planos-residenciais-planos-upload" draggable="false">300 MB de Upload</li>
                            <li><img src="img/socialmedia/iconesIndex/wifeed.png" alt="planos-conteudo-imagem-planos-residenciais-planos-wifi-corporativo" draggable="false">Wi-Fi Premium(Wifeed)</li>
                            <li><img src="img/socialmedia/iconesIndex/ipfixo.png" alt="planos-conteudo-imagem-planos-residenciais-ip-fixo" draggable="false">IP FIXO</li>
                            <li><img src="img/socialmedia/iconesIndex/routerBoard.png" alt="planos-conteudo-imagem-planos-residenciais-planos-roteador-borda" draggable="false">Roteador de borda</li>
                            <li><img src="img/socialmedia/iconesIndex/fidelidade.png" alt="planos-conteudo-imagem-planos-residenciais-planos-fidelidade" draggable="false">Sem contrato de Fidelidade</li>
                            <li><img src="img/socialmedia/iconesIndex/sac.png" alt="planos-conteudo-imagem-planos-residenciais-planos-suporte" draggable="false">Suporte Técnico</li>
                        </ul>

                        <div id="planos-conteudo-imagem-planos-residenciais-planos-plano-precos-preco">
                            <div id="planos-conteudo-imagem-planos-residenciais-planos-plano-precos-preco-int">
                                <h2>R$</h2>
                                <h1>259</h1>
                            </div>
                            <div id="planos-conteudo-imagem-planos-residenciais-planos-plano-precos-preco-float-mensal">
                                <h2>,90</h2>
                                <h2>/MENSAL</h2>
                            </div>
                        </div>
                    </div>

                    <div id="planos-conteudo-imagem-planos-residenciais-planos-plano-assine-agora">
                        <a href="https://web.whatsapp.com/send?phone=553535715000&text=Ol%C3%A1,%20vim%20pelo%20site,%20gostaria%20de%20saber%20sobre%20os%20planos%20comerciais%20dispon%C3%ADveis.%20%F0%9F%98%8A" target="_blank">
                            <button>ASSINE AGORA</button>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        
        @* PLANO CORPORATIVO *@
        <div id="planos-conteudo-imagem-plano-corporativo">
            <!-- BACKGROUND --->
            <img src="/img/socialmedia/plano-corp-background.png" alt="planos-conteudo-imagem-plano-corporativo-background" draggable="false">

            <h1>PLANO CORPORATIVO</h1>


            <div id="planos-conteudo-imagem-plano-corporativo-conteudo">
                <div id="planos-conteudo-imagem-plano-corporativo-conteudo-escrito">
                    <div id="planos-conteudo-imagem-plano-corporativo-conteudo-escrito-titulo">
                        Planos com estudo e orçamentos personalizados!
                    </div>

                    <div id="planos-conteudo-imagem-plano-corporativo-conteudo-escrito-desenvolvimento">
                        <h3>Consulte condições.</h3>
                    </div>

                    <a href="https://web.whatsapp.com/send?phone=553535715000&text=Ol%C3%A1,%20vim%20pelo%20site,%20gostaria%20de%20saber%20sobre%20os%20planos%20corporativos%20dispon%C3%ADveis.%20%F0%9F%98%8A" target="_blank">
                        <button>FALE CONOSCO</button>
                    </a>                  
                </div>
                <div id="planos-conteudo-imagem-plano-corporativo-conteudo-imagem">
                    <img src="/img/socialmedia/plano-corp-background2.png" alt="planos-conteudo-imagem-plano-corporativo-zindex3" draggable="false">
                </div>
            </div>
        </div>
    </div>
</div>