@page
@model webAppMilbr.Pages.Planos

@{
    Layout = "~/Pages/Shared/Layout.cshtml";

    @* VÁRIAVEIS DE AMBIENTE, AJUDANDO NA PESQUISA *@
    ViewData["campo1"] = "RESIDENCIAIS";
    ViewData["campo2"] = "RURAIS";
    ViewData["campo3"] = "COMERCIAL";
    ViewData["campo4"] = "CORPORATIVO";

    @* VARIAVEIS DE NAVEGAÇÃO ENTRE PAGES *@
    ViewData["link1"] = "#planos-conteudo-imagem-planos-residenciais-titulo";
    ViewData["link2"] = "#planos-conteudo-imagem-planos-rurais-titulo";
    ViewData["link3"] = "#planos-conteudo-imagem-plano-comercial-titulo";
    ViewData["link4"] = "#planos-conteudo-imagem-plano-corporativo";
}

<div id="planos-conteudo-responsividade">
    <div class="planos-conteudo-responsividade-conteudo">
        @* imagem promocional *@
        <div id="planos-conteudo-imagem-promocional">
            <img src="img/socialmedia/banner-planos-imagem-promocional.png" alt="planos-conteudo-imagem-promocional-png" draggable="false">
            <div id="planos-conteudo-imagem-promocional-texto">
                <h1>Internet de qualidade é mais que velocidade </h1>
                <h3>
                É atendimento humanizado, suporte on line 
                todos os dias e equipe técnica que resolve 
                rápido.
                </h3>
            </div>
        </div>

        @* PLANOS RESIDENCIAIS *@
        <div id="planos-conteudo-imagem-planos-residenciais">
            <div id="planos-conteudo-imagem-planos-residenciais-titulo">
                <h1>PLANOS RESIDENCIAIS</h1>
            </div>

            <div id="planos-conteudo-imagem-planos-residenciais-planos">
                <!-- PLANO MASTER -->
                <div id="planos-conteudo-imagem-planos-residenciais-planos-plano">
                    <div class="planos-conteudo-fita">
                        <h1>MASTER</h1>
                    </div>

                    <div id="planos-conteudo-imagem-planos-residenciais-planos-plano-titulo">600 MB</div>
                    
                    <div id="planos-conteudo-imagem-planos-residenciais-planos-plano-precos">
                        <ul>
                            <li><img src="img/socialmedia/iconesIndex/fibra.png" alt="planos-conteudo-imagem-planos-residenciais-planos-fibra" draggable="false">100% Fibra Óptica</li>
                            <li><img src="img/socialmedia/iconesIndex/donwload.png" alt="planos-conteudo-imagem-planos-residenciais-planos-download" draggable="false">600MB de Download</li>
                            <li><img src="img/socialmedia/iconesIndex/upload.png" alt="planos-conteudo-imagem-planos-residenciais-planos-upload" draggable="false">300MB de Upload</li>
                            <li><img src="img/socialmedia/iconesIndex/milbrFacil.png" alt="planos-conteudo-imagem-planos-residenciais-planos-app" draggable="false">APP Milbr +Fácil</li>
                            <li><img src="img/socialmedia/iconesIndex/televisao.png" alt="planos-conteudo-imagem-planos-residenciais-planos-milbrtv" draggable="false">Milbr TV Grátis no APP</li>
                            <li><img src="img/socialmedia/iconesIndex/fidelidade.png" alt="planos-conteudo-imagem-planos-residenciais-planos-fidelidade" draggable="false">Sem contrato de Fidelidade</li>
                            <li><img src="img/socialmedia/iconesIndex/sac.png" alt="planos-conteudo-imagem-planos-residenciais-planos-suporte" draggable="false">Suporte Técnico</li>
                        </ul>

                        <div id="planos-conteudo-imagem-planos-residenciais-planos-plano-precos-preco">
                            <div id="planos-conteudo-imagem-planos-residenciais-planos-plano-precos-preco-int">
                                <h2>R$</h2>
                                <h1>118</h1>
                            </div>
                            <div id="planos-conteudo-imagem-planos-residenciais-planos-plano-precos-preco-float-mensal">
                                <h2>,50</h2>
                                <h2>/MENSAL</h2>
                            </div>
                        </div>
                    </div>

                    <div id="planos-conteudo-imagem-planos-residenciais-planos-plano-assine-agora">
                        <a href="#">
                            <button>ASSINE AGORA</button>
                        </a>
                    </div>
                </div>
                
                <!-- PLANO PLUS -->
                <div id="planos-conteudo-imagem-planos-residenciais-planos-plano" style="margin-bottom: 100px;">
                    <div class="planos-conteudo-fita">
                        <h1>PLUS</h1>
                    </div>

                    <div id="planos-conteudo-imagem-planos-residenciais-planos-plano-titulo">400 MB</div>
                    
                    <div id="planos-conteudo-imagem-planos-residenciais-planos-plano-precos">
                        <ul>
                            <li><img src="img/socialmedia/iconesIndex/fibra.png" alt="planos-conteudo-imagem-planos-residenciais-planos-fibra">100% Fibra Óptica</li>
                            <li><img src="img/socialmedia/iconesIndex/donwload.png" alt="planos-conteudo-imagem-planos-residenciais-planos-download">400MB de Download</li>
                            <li><img src="img/socialmedia/iconesIndex/upload.png" alt="planos-conteudo-imagem-planos-residenciais-planos-upload">200MB de Upload</li>
                            <li><img src="img/socialmedia/iconesIndex/milbrFacil.png" alt="planos-conteudo-imagem-planos-residenciais-planos-app">APP Milbr +Fácil</li>
                            <li><img src="img/socialmedia/iconesIndex/televisao.png" alt="planos-conteudo-imagem-planos-residenciais-planos-milbrtv">Milbr TV Grátis no APP</li>
                            <li><img src="img/socialmedia/iconesIndex/fidelidade.png" alt="planos-conteudo-imagem-planos-residenciais-planos-fidelidade">Sem contrato de Fidelidade</li>
                            <li><img src="img/socialmedia/iconesIndex/sac.png" alt="planos-conteudo-imagem-planos-residenciais-planos-suporte">Suporte Técnico</li>
                        </ul>

                        <div id="planos-conteudo-imagem-planos-residenciais-planos-plano-precos-preco">
                            <div id="planos-conteudo-imagem-planos-residenciais-planos-plano-precos-preco-int">
                                <h2>R$</h2>
                                <h1>104</h1>
                            </div>
                            <div id="planos-conteudo-imagem-planos-residenciais-planos-plano-precos-preco-float-mensal">
                                <h2>,50</h2>
                                <h2>/MENSAL</h2>
                            </div>
                        </div>
                    </div>

                    <div id="planos-conteudo-imagem-planos-residenciais-planos-plano-assine-agora">
                        <a href="#">
                            <button>ASSINE AGORA</button>
                        </a>
                    </div>
                </div>

                <!-- PLANO BÁSICO -->
                <div id="planos-conteudo-imagem-planos-residenciais-planos-plano">
                    <div class="planos-conteudo-fita">
                        <h1>BÁSICO</h1>
                    </div>

                    <div id="planos-conteudo-imagem-planos-residenciais-planos-plano-titulo">250 MB</div>
                    
                    <div id="planos-conteudo-imagem-planos-residenciais-planos-plano-precos">
                        <ul>
                            <li><img src="img/socialmedia/iconesIndex/fibra.png" alt="planos-conteudo-imagem-planos-residenciais-planos-fibra">100% Fibra Óptica</li>
                            <li><img src="img/socialmedia/iconesIndex/donwload.png" alt="planos-conteudo-imagem-planos-residenciais-planos-download">250MB de Download</li>
                            <li><img src="img/socialmedia/iconesIndex/upload.png" alt="planos-conteudo-imagem-planos-residenciais-planos-upload">150MB de Upload</li>
                            <li><img src="img/socialmedia/iconesIndex/milbrFacil.png" alt="planos-conteudo-imagem-planos-residenciais-planos-app">APP Milbr +Fácil</li>
                            <li><img src="img/socialmedia/iconesIndex/televisao.png" alt="planos-conteudo-imagem-planos-residenciais-planos-milbrtv">Milbr TV Grátis no APP</li>
                            <li><img src="img/socialmedia/iconesIndex/fidelidade.png" alt="planos-conteudo-imagem-planos-residenciais-planos-fidelidade">Sem contrato de Fidelidade</li>
                            <li><img src="img/socialmedia/iconesIndex/sac.png" alt="planos-conteudo-imagem-planos-residenciais-planos-suporte">Suporte Técnico</li>
                        </ul>

                        <div id="planos-conteudo-imagem-planos-residenciais-planos-plano-precos-preco">
                            <div id="planos-conteudo-imagem-planos-residenciais-planos-plano-precos-preco-int">
                                <h2>R$</h2>
                                <h1>85</h1>
                            </div>
                            <div id="planos-conteudo-imagem-planos-residenciais-planos-plano-precos-preco-float-mensal">
                                <h2>,90</h2>
                                <h2>/MENSAL</h2>
                            </div>
                        </div>
                    </div>

                    <div id="planos-conteudo-imagem-planos-residenciais-planos-plano-assine-agora">
                        <a href="#">
                            <button>ASSINE AGORA</button>
                        </a>
                    </div>
                </div>
            </div>

            <div id="planos-conteudo-imagem-planos-residenciais-observacao">
                <p>*Consulte os combos especiais Internet + TV</p>
                <p>*Temos telefonia fixa com portabilidade e ligações ilimitadas para qualquer operadora e DDD</p>
            </div>
        </div>
        
        @* PLANOS RURAIS *@
        <div id="planos-conteudo-imagem-planos-rurais">
            <div id="planos-conteudo-imagem-planos-rurais-titulo">
                <h1>PLANOS RURAIS</h1>
            </div>

            <div id="planos-conteudo-imagem-planos-rurais-conteudo">
                @* IMPORT DAS DIVS DE PLANO, NÃO PRECISOU FAZER UM ELEMENTO PORQUE A REPETIÇÃO É PEQUENA *@
                <div id="planos-conteudo-imagem-planos-rurais-plano">
                    <div id="planos-conteudo-imagem-planos-residenciais-planos-plano">
                        <div class="planos-conteudo-fita">
                            <h1>RURAL</h1>
                        </div>

                        <div id="planos-conteudo-imagem-planos-residenciais-planos-plano-titulo">10 MB</div>
                        
                        <div id="planos-conteudo-imagem-planos-residenciais-planos-plano-precos">
                            <ul>
                                <li><img src="img/socialmedia/iconesIndex/donwload.png" alt="planos-conteudo-imagem-planos-residenciais-planos-download" draggable="false">10MB de Download</li>
                                <li><img src="img/socialmedia/iconesIndex/upload.png" alt="planos-conteudo-imagem-planos-residenciais-planos-upload" draggable="false">5MB de Upload</li>
                                <li><img src="img/socialmedia/iconesIndex/televisao.png" alt="planos-conteudo-imagem-planos-residenciais-planos-milbrtv" draggable="false">Milbr TV Grátis no APP</li>
                                <li><img src="img/socialmedia/iconesIndex/fidelidade.png" alt="planos-conteudo-imagem-planos-residenciais-planos-fidelidade" draggable="false">Sem contrato de Fidelidade</li>
                                <li><img src="img/socialmedia/iconesIndex/sac.png" alt="planos-conteudo-imagem-planos-residenciais-planos-suporte" draggable="false">Suporte Técnico</li>
                            </ul>

                            <div id="planos-conteudo-imagem-planos-residenciais-planos-plano-precos-preco">
                                <div id="planos-conteudo-imagem-planos-residenciais-planos-plano-precos-preco-int">
                                    <h2>R$</h2>
                                    <h1>85</h1>
                                </div>
                                <div id="planos-conteudo-imagem-planos-residenciais-planos-plano-precos-preco-float-mensal">
                                    <h2>,90</h2>
                                    <h2>/MENSAL</h2>
                                </div>
                            </div>
                        </div>

                        <div id="planos-conteudo-imagem-planos-residenciais-planos-plano-assine-agora">
                            <a href="#">
                                <button>ASSINE AGORA</button>
                            </a>
                        </div>
                    </div>
                </div>

                <div id="planos-conteudo-imagem-planos-rurais-imagem-promocional">
                    <img src="img/socialmedia/imagem-promocional-plano-rural.png" alt="planos-conteudo-imagem-planos-rurais-imagem-promocional.png" draggable="false">
                    <div id="planos-conteudo-imagem-planos-rurais-imagem-promocional-descricoes">
                        <p id="planos-conteudo-imagem-planos-rurais-imagem-promocional-descricao">
                            <i class='bx bxs-circle'></i> Para planos com maior velocidade, consultar viabilidade técnica.
                        </p>
                        <p id="planos-conteudo-imagem-planos-rurais-imagem-promocional-descricao">
                            <i class='bx bxs-circle'></i> Possuímos Planos Rurais Comerciais! 
                        </p>
                    </div>
                </div>
            </div>
        </div>
        
        @* PLANO COMERCIAL *@
        <div id="planos-conteudo-imagem-plano-comercial">
            <div id="planos-conteudo-imagem-plano-comercial-titulo">
                <h1>PLANO COMERCIAL</h1>
            </div>

            <div id="planos-conteudo-imagem-plano-comercial-conteudo">
                <img src="img/socialmedia/imagem-promocional-plano-comercial.png" alt="planos-conteudo-imagem-plano-comercial-conteudo-png" draggable="false">

                <div id="planos-conteudo-imagem-planos-residenciais-planos-plano">
                        <div class="planos-conteudo-fita">
                            <h1>COMERCIAL</h1>
                        </div>
                         
                        <div id="planos-conteudo-imagem-planos-residenciais-planos-plano-titulo"></div>

                        <div id="planos-conteudo-imagem-planos-residenciais-planos-plano-precos">
                            <ul>
                                <li><img src="img/socialmedia/iconesIndex/fibra.png" alt="planos-conteudo-imagem-planos-residenciais-planos-fibra" draggable="false">100% Fibra Óptica</li>
                                <li><img src="img/socialmedia/iconesIndex/donwload.png" alt="planos-conteudo-imagem-planos-residenciais-planos-download" draggable="false">300MB de Download</li>
                                <li><img src="img/socialmedia/iconesIndex/upload.png" alt="planos-conteudo-imagem-planos-residenciais-planos-upload" draggable="false">300MB de Upload</li>
                                <li><img src="img/socialmedia/iconesIndex/wifeed.png" alt="planos-conteudo-imagem-planos-residenciais-planos-wifi-corporativo" draggable="false">Wi-Fi Premium(Wifeed)</li>
                                <li><img src="img/socialmedia/iconesIndex/ipfixo.png" alt="planos-conteudo-imagem-planos-residenciais-ip-fixo" draggable="false">IP FIXO</li>
                                <li><img src="img/socialmedia/iconesIndex/routerBoard.png" alt="planos-conteudo-imagem-planos-residenciais-planos-roteador-borda" draggable="false">Roteador de borda</li>
                                <li><img src="img/socialmedia/iconesIndex/fidelidade.png" alt="planos-conteudo-imagem-planos-residenciais-planos-fidelidade" draggable="false">Sem contrato de Fidelidade</li>
                                <li><img src="img/socialmedia/iconesIndex/sac.png" alt="planos-conteudo-imagem-planos-residenciais-planos-suporte" draggable="false">Suporte Técnico</li>
                            </ul>

                            <div id="planos-conteudo-imagem-planos-residenciais-planos-plano-precos-preco">
                                <div id="planos-conteudo-imagem-planos-residenciais-planos-plano-precos-preco-int">
                                    <h2>R$</h2>
                                    <h1>239</h1>
                                </div>
                                <div id="planos-conteudo-imagem-planos-residenciais-planos-plano-precos-preco-float-mensal">
                                    <h2>,90</h2>
                                    <h2>/MENSAL</h2>
                                </div>
                            </div>
                        </div>

                        <div id="planos-conteudo-imagem-planos-residenciais-planos-plano-assine-agora">
                            <a href="#">
                                <button>ASSINE AGORA</button>
                            </a>
                        </div>
                    </div>
            </div>
        </div>
        
        @* PLANO CORPORATIVO *@
        <div id="planos-conteudo-imagem-plano-corporativo">
            <img src="img/socialmedia/switchs.jpeg" alt="planos-conteudo-imagem-plano-corporativo-background-png" draggable="false" style="opacity: 60%;">

            <h1>PLANO CORPORATIVO</h1>

            <div id="planos-conteudo-imagem-plano-corporativo-conteudo">
                <div id="planos-conteudo-imagem-plano-corporativo-conteudo-descricao">
                    <h1>Plano com estudo e orçamento personalizado!</h1>
                    <p>Consulte disponibilidade com nosso time de atendimento.</p>

                    <div id="planos-conteudo-imagem-plano-corporativo-conteudo-descricao-button">
                        <button>FALE CONOSCO</button>
                    </div>
                </div>
                
                <div id="planos-conteudo-imagem-plano-corporativo-conteudo-descricao-imagem">
                    <img src="img/socialmedia/imagem-propaganda-corporativa.png" alt="planos-conteudo-imagem-plano-corporativo-png" draggable="false">
                </div>
            </div>
        </div>
    </div>
</div>