@page
@model webAppMilbr.Pages.Processos
@{
    Layout = "~/Pages/Shared/Layout.cshtml";
}


@* MILBR TI ASIDE *@
<div id="aside-milbr-ti-responsividade-agente">
    <div class="aside-milbr-ti">
        <div id="aside-milbr-ti-informacoes">
            <h1 id="aside-milbr-ti-informacoes-titulo">Milbr TI</h1>

            <h2 id="aside-milbr-ti-informacoes-subtitulo">
                <p id="aside-milbr-ti-informacoes-subtitulo-primeiro-paragrafo">Fiquem tranquilos, só entregamos soluções! ;) </p>
                <p id="aside-milbr-ti-informacoes-subtitulo-segundo-paragrafo">Faça seu orçamento! Lojas em Muzambinho e Juruaia</p>
            </h2>
        
            <h2 id="aside-milbr-ti-informacoes-subtitulo-desenvolvimento">Conheça nossos serviços:</h2>

            <ul id="aside-milbr-ti-informacoes-subtitulo-desenvolvimento-servicos-oferecidos">
                <li><p id="aside-milbr-ti-informacoes-subtitulo-desenvolvimento-formatacao"><i class='bx bxs-circle'></i>Windows 10, Windows 11</p></li>
                <li><p id="aside-milbr-ti-informacoes-subtitulo-desenvolvimento-upgrades"><i class='bx bxs-circle'></i>Upgrades: SSD M2, SSD SATA, Memória RAM, Processadores e Motherboards</p></li>
                <li><p id="aside-milbr-ti-informacoes-subtitulo-desenvolvimento-manutencao-preventiva"><i class='bx bxs-circle'></i>Manutenção preventiva: Limpeza, Troca de pasta térmica, Troca de fonte</p></li>
                <li><p id="aside-milbr-ti-informacoes-subtitulo-desenvolvimento-pecas"><i class='bx bxs-circle'></i>Peças e acessórios Gamer</p></li>
                <li><p id="aside-milbr-ti-informacoes-subtitulo-desenvolvimento-orcamentos"><i class='bx bxs-circle'></i>Orçamentos PC de escritório e PC Gamer</p></li>
                <li><p id="aside-milbr-ti-informacoes-subtitulo-desenvolvimento-consultoria"><i class='bx bxs-circle'></i>Consultoria Técnica</p></li>
            </ul>
        </div>
        <div id="aside-milbr-ti-imagem-promocional">
            <img src="img/joker/servicosTI.png" alt="aside-milbr-ti-imagem-promocional-png" draggable="false">
        </div>
    </div>
</div>

@* MILBR TV ASIDE *@
<div id="aside-milbr-tv-responsividade-agente">
    <div class="aside-milbr-tv">
        <div id="aside-milbr-tv-imagem-esquerda">
            <img src="img/joker/beneficiosTV.png" alt="aside-milbr-tv-imagem-esquerda-png" draggable="false">
        </div>
        @* parte textual milbrTV *@
        <div id="aside-milbr-tv-beneficios">
            <div id="aside-milbr-tv-beneficios-titulo"><h1>MILBR TV</h1></div>
            <div id="aside-milbr-tv-beneficios-subtitulo">
                <p id="aside-milbr-tv-beneficios-subtitulo-instalacao">Instale a Milbr TV em seu aparelho de TV</p>
                <p id="aside-milbr-tv-beneficios-subtitulo-acessoAPP">Acesso gratuito pelo APP!</p>
            </div>
            <div id="aside-milbr-tv-beneficios-subtitulo2">
                <h2 id="aside-milbr-tv-beneficios-subtitulo2-titulo">Veja tudo que a Milbr TV lhe oferece:</h2>
            </div>

            <ul id="aside-milbr-tv-beneficios-lista">
                @* <li><p id="aside-milbr-ti-informacoes-subtitulo-desenvolvimento-formatacao"><i class='bx bxs-circle'></i>Windows 10, Windows 11</p></li> *@
                <li><p id="aside-milbr-tv-beneficios-lista-canais"><i class='bx bxs-circle'></i>+100 Canais</p></li>
                <li><p id="aside-milbr-tv-beneficios-lista-canais-abertos"><i class='bx bxs-circle'></i>Canais abertos e fechados</p></li>
                <li><p id="aside-milbr-tv-beneficios-lista-canais-regionais"><i class='bx bxs-circle'></i>Canais Regionais</p></li>
                <li><p id="aside-milbr-tv-beneficios-lista-canais-grade"><i class='bx bxs-circle'></i>Grade diversificada</p></li>
                <li><p id="aside-milbr-tv-beneficios-lista-canais-instalacao"><i class='bx bxs-circle'></i>Instalação grátis para canais fechados</p></li>
                <li><p id="aside-milbr-tv-beneficios-lista-canais-suporte"><i class='bx bxs-circle'></i>Suporte</p></li>
            </ul>


            <div id="aside-milbr-tv-beneficios-finalizacao">
                <p>Consulte nossos combos Internet + TV!</p>
            </div>
        </div>
    </div>
</div>

@* MILBR TELEFONIA DIGITAL ASIDE *@
<div id="aside-milbr-td-responsividade-agente">
    <div id="aside-milbr-td-telefonia">
        <div id="aside-milbr-td-telefonia-vantagens">
            <div id="aside-milbr-td-telefonia-vantagens-titulo">
                <h1>Milbr TD</h1>
            </div>

            <div id="aside-milbr-td-telefonia-vantagens-subtitulo"><h2>Fale à vontade por apenas R$ 69,90!</h2></div>

            <div id="aside-milbr-td-telefonia-vantagens-lista-titulo">
                <p id="aside-milbr-td-telefonia-vantagens-lista-titulo">A Milbr TD oferece: </p>

                <ul id="aside-milbr-td-telefonia-vantagens-lista-topicos">
                    <li><p id="aside-milbr-td-telefonia-vantagens-lista-topicos-telefonia-fixa"><i class='bx bxs-circle'></i>Telefonia Fixa Digital</p></li>
                    <li><p id="aside-milbr-td-telefonia-vantagens-lista-topicos-portabilidade"><i class='bx bxs-circle'></i>Portabilidade</p></li>
                    <li><p id="aside-milbr-td-telefonia-vantagens-lista-topicos-ligacoes-limitadas"><i class='bx bxs-circle'></i>Ligações ilimitadas para qualquer DDD e operadora</p></li>
                </ul>
            </div>

            <div class="aside-milbr-td-telefonia-vantagens-finalizacao">
                <p id="aside-milbr-td-telefonia-vantagens-finalizacao-paragrafo">Consulte disponibilidade para sua localização.</p>
            </div>
        </div>

        <div id="aside-milbr-td-telefonia-portabilidade">
            <img src="img/socialmedia/portabilidade-telefonia-milbr.png" alt="aside-milbr-td-telefonia-portabilidade-png">
        </div>
    </div>
</div>

<link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'> <!--- Icons --->