@page
@model webAppMilbr.Pages.Sobre
@{
    Layout = "~/Pages/Shared/Layout.cshtml";

    @* VÁRIAVEIS DE AMBIENTE, AJUDANDO NA PESQUISA *@
    ViewData["campo3"] = "PLANOS";
    ViewData["campo4"] = "SERVIÇOS";
    ViewData["campo5"] = "PÁGINA INICIAL";

    @* VARIAVEIS DE NAVEGAÇÃO ENTRE PAGES *@
    ViewData["link3"] = "/planos";
    ViewData["link4"] = "/processos";
    ViewData["link5"] = "/index";

}


<div class="container-planos-responsividade">
    <div id="container-planos-responsividade-limitador">
        @* CARROSEL INICIAL *@
        <div id="container-planos-carrossel">
            <div id="container-planos-carrossel-background-letreiro">
                <div id="container-planos-carrossel-background-letreiro-titulo">
                    <h1>Há 20 fornecendo conexão de qualidade</h1>
                </div>

                <div id="container-planos-carrossel-background-letreiro-titulo-background-compilado">
                    <img src="img/socialmedia/conjunto_Background_Milbr.png" alt="container-planos-carrossel-background-predio-imagem-footer" draggable="false">
                    <div id="container-planos-carrossel-background-letreiro-titulo-texto-flutuante">
                        <h2>a marca da melhor internet!</h2>
                    </div>
                </div>
            </div>
            <div id="container-planos-carrossel-background-predio">
                <img src="img/socialmedia/predio_Milbr_foto.png" alt="container-planos-carrossel-background-predio-png" draggable="false">
            </div>
        </div>

        <div id="container-planos-titulo-historia">
            <h1>TÍTULO AQUI: COMEÇA O SOBRE NÓS</h1>
        </div>

        @* COMEÇO DA HISTÓRIA *@
        <div id="container-planos-historia-empresa">
            <div id="container-planos-historia-empresa-texto">
                <h2>Sobre nós:</h2>
                <div id="container-planos-historia-empresa-texto-paragrafos">
                    <p id="container-planos-historia-empresa-texto-paragrafos-primeiro">
                        Fundada em 2003, por seu sócio-fundador Márcio Bueno Guimarães Filho, a Milbr.net é uma empresa provedora de internet que atua nas cidades de Muzambinho, Juruaia, Cabo Verde e Nova Resende, em Minas Gerais. 
                    </p>

                    <p id="container-planos-historia-empresa-texto-paragrafos-segundo">
                        A empresa se destaca por oferecer internet de alta qualidade através de fibra óptica na zona urbana e na zona rural, além de serviços de telefonia fixa e tv digital 
                    </p>
                </div>
            </div>
            <div id="container-planos-historia-empresa-imagem">
                <img src="img/socialmedia/imagem-comeco-milbr.png" alt="container-planos-historia-empresa-imagem-png" draggable="false">
            </div>
        </div>
        
        @* INICIO E CRESIMENTO *@
        <div id="container-planos-inicio-crescimento">
            <div id="container-planos-inicio-crescimento-apresentacao">
                <div id="container-planos-inicio-crescimento-imagem">
                    <img src="img/socialmedia/imagem-nostalgica-milbr-2018.png" alt="container-planos-inicio-crescimento-imagem-png" draggable="false">
                </div>

                <div id="container-planos-inicio-crescimento-texto">
                    <h2>Início e Crescimento:</h2>

                    <ul id="container-planos-inicio-crescimento-texto-lista">
                        <li><i class='bx bxs-circle'></i> 2003: A Milbr.net é fundada em Muzambinho, oferecendo acesso à internet.</li>
                        <li><i class='bx bxs-circle'></i> 2011: A empresa expande sua atuação para Juruaia, sua primeira filial.</li>
                        <li><i class='bx bxs-circle'></i> 2016: A Milbr.net investe na cidade de Cabo Verde, nasce a sua segunda filial.</li>
                        <li><i class='bx bxs-circle'></i> 2021: Início da construção da nova sede.</li>
                        <li><i class='bx bxs-circle'></i> 2023: Inauguração nova sede em Muzambinho.</li>
                        <li><i class='bx bxs-circle'></i> 2024: Em continuidade ao seu plano de expansão, inaugura sua terceira filial em Nova Resende.</li>
                    </ul>
                </div>
            </div>

            @* conclusão, parte de baixo *@
            <div id="container-planos-inicio-crescimento-desenvolvimento-e-conclusao">
                <p id="container-planos-inicio-crescimento-desenvolvimento-e-conclusao-paragrafo-primeiro">
                    Ao longo de sua história, o Grupo Milbr se consolidou como uma empresa de referência em seus segmentos de atuação, oferencendo serviços de alta qualidade, inovadores e com foco na satisfação dos clientes. A empresa investe continuamente na modernização de sua infraestrutura e treinamento da sua equipe, para oferecer a melhor experiência possível para seus clientes, além dissoé socialmente responsável, comprometida com o desenvolvimento da comunidade, apoiando entidades e eventos comunitários e beneficentes. 
                </p>

                <p id="container-planos-inicio-crescimento-desenvolvimento-e-conclusao-paragrafo-segundo">
                    A Milbr orgulha-se por ser uma empresa regional e oferecer um atendimento humanizado e personalizado, com visão para o futuro. 
                </p>
            </div>
        </div>

        @* FOTO PROMOCIONAL NO FINAL *@
        <div id="container-planos-logos-predio">
            <img src="img/socialmedia/imagem-promocional-predio-footer.png" alt="container-planos-logos-predio.png">
        </div>
    </div>
   
</div>