@page
@model webAppMilbr.Pages.LinksUteisModel

@{
    Layout = "~/Pages/Shared/Layout.cshtml";

    ViewData["campo1"] = "PLANOS";
    ViewData["campo2"] = "ÁREA DO CLIENTE";
    ViewData["campo3"] = "SERVIÇOS";
    ViewData["campo4"] = "SOBRE NÓS";
    ViewData["campo5"] = "FAQ";

    @* VARIAVEIS DE NAVEGAÇÃO ENTRE PAGES *@
    ViewData["link1"] = "#index-area-cliente-conteudo-conhecer-planos-titulo";
    ViewData["link2"] = "#index-area-cliente-conteudo-area-cliente-links-uteis-titulo";
    ViewData["link3"] = "/processos";
    ViewData["link4"] = "/sobre";
    ViewData["link5"] = "#index-area-cliente-conteudo-perguntas-frequentes";
}

<div id="content-link-uteis-responsividade">
    <div id="content-link-uteis-responsividade-limitador">
        @* Links Diversos *@
        <div id="content-link-uteis-section">
            <div id="content-link-uteis-section-imagem">
                <i class='bx bx-buildings'></i>
            </div>
            <div id="content-link-uteis-section-titulo"><h1>DIVERSOS</h1></div>
            <div id="content-link-uteis-section-links">
                <ul>
                    <li><i class='bx bx-check'></i><a href="https://milbrtv.com.br/">Milbr TV</a></li>
                    <li><i class='bx bx-check'></i><a href="https://play.google.com/store/apps/details?id=com.mksolutions.milbr">Milbr Facil+</a></li>
                    <li><i class='bx bx-check'></i><a href="https://webmail.milbr.net/">Webmail Milbr</a></li>
                    <li><i class='bx bx-check'></i><a href="https://afolharegional.com.br/">A Folha Regional</a></li>
                    <li><i class='bx bx-check'></i><a href="https://muzambinho.com.br/">Muzambinho.com</a></li>
                    <li><i class='bx bx-check'></i><a href="http://ciapassostec.blogspot.com.br/">Olha que fácil tutoriais</a></li>
                    <li><i class='bx bx-check'></i><a href="http://www.agnocafe.com.br/">Comércio de Café</a></li>
                </ul>
            </div>
        </div>
        @* Links Governamentais *@
        <div id="content-link-uteis-section">
            <div id="content-link-uteis-section-imagem"><i class='bx bx-library'></i></div>
            <div id="content-link-uteis-section-titulo"><h1>GOVERNAMENTAIS</h1></div>
            <div id="content-link-uteis-section-links">
                <ul>
                    <li><i class='bx bx-check'></i><a href="http://www.previdenciasocial.gov.br/">Previdência social</a></li>
                    <li><i class='bx bx-check'></i><a href="https://www.gov.br/receitafederal/pt-br">Receita Federal</a></li>
                    <li><i class='bx bx-check'></i><a href="https://www.tjmg.jus.br/portal-tjmg/">Receita Estadual</a></li>
                    <li><i class='bx bx-check'></i><a href="https://www.trf1.jus.br/trf1/home/">Tribunal de Justiça MG</a></li>
                    <li><i class='bx bx-check'></i><a href="https://www.tst.jus.br/certidao1">Tribunal Regional Federal</a></li>
                    <li><i class='bx bx-check'></i><a href="https://www.correios.com.br/">Tribunal Superior do Trabalho</a></li>
                </ul>
            </div>
        </div>
        @* Links Bancários *@
        <div id="content-link-uteis-section">
            <div id="content-link-uteis-section-imagem"><i class='bx bxs-calculator'></i></div>
            <div id="content-link-uteis-section-titulo"><h1>BANCÁRIOS</h1></div>
            <div id="content-link-uteis-section-links">
                <ul>
                    <li><i class='bx bx-check'></i><a href="https://www.bb.com.br/site/">Banco do Brasil</a></li>
                    <li><i class='bx bx-check'></i><a href="https://banco.bradesco/html/classic/index.shtm">Bradesco</a></li>
                    <li><i class='bx bx-check'></i><a href="https://www.caixa.gov.br/Paginas/home-caixa.aspx">Caixa Econômica Federal</a></li>
                    <li><i class='bx bx-check'></i><a href="https://www.itau.com.br/">Itaú</a></li>
                    <li><i class='bx bx-check'></i><a href="https://www.santander.com.br/">Santander</a></li>
                    <li><i class='bx bx-check'></i><a href="https://www.sicoob.com.br/">Sicoob</a></li>
                    <li><i class='bx bx-check'></i><a href="https://www.sicredi.com.br/home/">Sicred</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>