@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

* { 
    padding: 0;
    border: none;
    margin: 0;
    font-size: 67.5%;
    scroll-behavior: smooth;
}

:root {
    /* color backgrounds */
    --background-color-white-main       : #FFFFFF;
    --background-color-white-second     : #F5F5F5;
    --background-color-white-figma      : #E5E5E5;
    --background-color-blue-master      : #3C8BDB;
    --background-color-blue-footer      : #11559B;
    --background-color-bottomFooter-blue: #333746;

    /* color letter */
    --color-letter-blue-masterHead : #185787;
    --color-letter-blue-normalHead : #1159A4;
    --color-letter-gray-normalHead : #9FA9CF;
    
}

a {
    text-decoration: none;
    color: black;
    cursor: pointer;
}

body {
    width: 100%; height: 100vh;
    background-color: var(--background-color-white-main);
    font-family: 'Open Sans', sans-serif;
}

::-webkit-scrollbar {
    width: 15px;
    height: 12px;
}

::-webkit-scrollbar-thumb {
    background-color: #007BFF;
    border: 2px solid #fff;
}

::-webkit-scrollbar-track {
    background-color: #f0f0f0;
    border-radius: 1px;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #0056b3; /* Cor mais escura no hover */
}

/* ------------- ++ FORMATAÇÃO DO HEADER ++ ---------- */

header {
    width: 100vw; height: 115px;
    display: flex;
    flex-direction: column;
    gap: 1px;
    background-color: var(--background-color-white-figma);
}

header #cabecalho-milbr {
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-rows: 52px 62px;
}

header #cabecalho-milbr-responsividade-agente {
    width: 100%;
    display: grid;
    place-items: center;
}

header .cabecalho-informacoes-contato {
    width: 100%;
    max-width: 1366px;
    height: 100%;
    display: grid;
    place-items: center;
    grid-template-columns: 1fr 2fr 1fr 1.3fr 1fr 1fr 1fr;
    gap: 1px;
    background-color: var(--background-color-white-figma);
}

header .cabecalho-informacoes-contato div {
    height: 100%;
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 4px;
    width: 100%;
}

header .cabecalho-informacoes-contato div img {
    width: 20px;
    height: 20px;
}

/* LINKS DO CABEÇALHO */

header .cabecalho-informacoes-contato a {
    font-size: 1.2rem;
    color: var(--color-letter-blue-masterHead);
    font-weight: bolder;
}

header .cabecalho-informacoes-contato a:hover {
    color: var(--background-color-bottomFooter-blue);
}

header h3 {
    font-size: 13px;
    font-weight: bolder;
    color: var(--color-letter-blue-normalHead);
}


/* ---------- Parte dos links que tem lógica própria e separada --------- */


header .cabecalho-informacoes-contato #cabecalho-informacoes-contato-redes-sociais {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2px;
} 

header .cabecalho-informacoes-contato #cabecalho-informacoes-contato-redes-sociais h3 {
    display: grid;
    place-items: center;
    font-size: 10px;
    font-weight: bolder;
    color: var(--color-letter-blue-normalHead);
    max-width: 40%;
    word-wrap: break-word;
    height: 100%;
}


header .cabecalho-informacoes-contato #cabecalho-informacoes-contato-link-individual {
    max-width: 50%;
    max-height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
}

header #cabecalho-informacoes-contato-facebook:hover {transform: scale(1.2);}
header #cabecalho-informacoes-contato-instagram:hover {transform: scale(1.2);}
header #cabecalho-informacoes-contato-youtube:hover {transform: scale(1.2);}


/* --------------------- + FIM CABEÇALHO DE CIMA+ ------------------------- */

/* CABEÇALHO DE BAIXO */

header #cabecalho-ux-acesso-links-diretos-de-acesso-responsividade-agente {
    width: 100%;
    background-color: var(--background-color-white-main);
    display: grid;
    place-items: center;
    z-index: 4;
}

header .cabecalho-ux-acesso-links-diretos-de-acesso {
    width: 1366px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header #cabecalho-ux-acesso-links-diretos-de-acesso-logos{
    width: 45%; height: 100%;
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 4rem;
}

header #cabecalho-ux-acesso-links-diretos-de-acesso-clicaveis {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    width: 40%;
    margin-right: 4rem;
}

header #cabecalho-ux-acesso-links-diretos-de-acesso-clicaveis div {
    cursor: pointer;
    position: relative; /* Necessário para o pseudo-elemento */
    padding-bottom: 5px; /* Espaço extra para o pseudo-elemento */
}

header #cabecalho-ux-acesso-links-diretos-de-acesso-clicaveis div::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 3px;
    background-color: var(--color-letter-blue-normalHead);
    transition: width 0.3s ease-in-out;
}

header #cabecalho-ux-acesso-links-diretos-de-acesso-clicaveis div:hover::after {
    width: 100%;
}

header #cabecalho-ux-acesso-links-diretos-de-acesso-clicaveis a {
    text-decoration: none;
    color: var(--color-letter-blue-normalHead);
    font-size: 20em;
    font-weight: bolder;
}

header #cabecalho-ux-acesso-links-diretos-de-acesso-clicaveis a:hover {
    color: var(--color-letter-gray-normalHead);
}

/* ------------------- CAMPO GERÁVEL MAIN ------------------ */

main {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    background-color: var(--background-color-white-figma);
    position: relative;
}


main .float-nav-top {
    position: fixed;
    bottom: 1rem;
    right: 1rem;
    border-radius: 50%;
    height: 3rem; width: 3rem;
    background-color: var(--background-color-blue-master);
    display: grid;
    place-items: center;
}

main .float-nav-top i {
    font-size: 1rem;
    color: white;
    cursor: pointer;
}

main .float-nav-top i:hover {
    color: rgb(182, 255, 237);
}

main #tremor {
    position: fixed;
    bottom: 5rem;
    right: 1rem;
    border-radius: 50%;
    height: 3rem; width: 3rem;
    background-color: #5FFC7B;
    display: grid;
    place-items: center;
}

main #tremor i {
    color: white;
    font-size: 2rem;
    padding-bottom: 3px;
}

main #tremor:hover {
    background-color: #28D146;
}

main .shake {
    animation: shake 0.3s infinite;
}

/* ------------ +++ ------------ */

footer {
    display: grid;
    grid-template-rows: 261px 91px;
    width: 100%;
}

footer table {
    height: 100%; width: 220px;
}

footer td {
    text-decoration: none;
}

footer tr {
    margin-bottom: 7px;
}

/* Footer parte de cima */

footer #footer-responsividade-cima {
    width: 100%;
    height: 100%;
    display: grid;
    place-items: center;
}

footer .footer-rodape-credits-milbr {
    width: 1366px; max-width: 1366px;
    height: 100%;
    display: grid;
    background-color: var(--background-color-blue-footer);
    grid-template-columns: 3fr 7fr;
    gap: 1rem;
}

footer #footer-rodape-credits-milbr-tables {
    height: 100%;
    display: grid;
    place-items: center;
    grid-template-columns: 1fr 2fr;
}

footer #footer-rodape-credits-milbr-tables a:hover{
    color: var(--background-color-bottomFooter-blue);
}

footer #footer-rodape-credits-milbr-suporte {
    height: 70%;
    display: grid;
    place-items: center;
}

footer #footer-rodape-credits-milbr-suporte a {
    color: var(--background-color-white-main);
    font-size: 20px;
}

footer #footer-rodape-credits-milbr-suporte b {
    font-size: 30px;
    font-weight: bolder;
}

footer #footer-rodape-credits-milbr-sobre {
    height: 70%;
    width: 100%;
    display: grid;
    place-items: center;
}

footer #footer-rodape-credits-milbr-sobre b {
    font-size: 20px;
    color: var(--background-color-white-main);
}

footer #footer-rodape-credits-milbr-logos {
    height: 100%;
    position: relative;
    display: grid;
    place-items: center;
}

footer #footer-rodape-credits-milbr-logos-faixa {
    position: absolute;
    top: 0.5rem;
    right: 0px;
    width: 100%;
    height: 80%;
}

footer #footer-rodape-credits-milbr-logos-faixa img {
    width: 100%;
    height: 100%;
}

footer #footer-rodape-credits-milbr-logos-logo {
    position: absolute;
    width: auto;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: end;
    right: 100px;
}

footer #footer-rodape-credits-milbr-logos-logo img {
    width: 180px;
    height: 180px;
}

footer #footer-responsividade-baixo {
    height: 100%; width: 100%;
    display: grid; place-items: center;
}

/* Footer parte de baixo */
footer .footer-rodape-credits-muzabin {
    width: 1366px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: var(--background-color-bottomFooter-blue);
    padding-top: 1rem; padding-bottom: 1rem;
}

footer #footer-rodape-credits-muzabin-cnpj, #footer-rodape-credits-muzabin-letter {
    width: 100%;
    height: 50%;
    display: grid;
    place-items: center;
}

footer #footer-rodape-credits-muzabin-cnpj h2 {
    color: var(--color-letter-gray-normalHead);
    font-size: 14px;
}

footer #footer-rodape-credits-muzabin-letter h2 {
    color: var(--color-letter-gray-normalHead);
    font-size: 16px;
    font-weight: bolder;
}


/* ---------------- KEY FRAMES ---------------------- */

@keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
}


/* ------------------------------- MEDIA QUERIES ---------------------------- */


/* ## CELULARES */

@media (min-width: 300px) and (max-width: 420px) {
    body {
        width: 100% !important;
    }

    main { 
        width: 100% !important;
        max-width: 100vw !important;
    }

    header {
        width: 100% !important; max-width: 100vw !important;
    }

    header #cabecalho-milbr-responsividade-agente {
        width: 100% !important; max-width: 420px;
    }

    header .cabecalho-informacoes-contato {
        width: 100% !important;
    }
    
    header .cabecalho-informacoes-contato a {
        font-size: 11px !important;
    }
    
    header .cabecalho-informacoes-contato h3 {
        font-size: 11px !important;
    }

    header #cabecalho-ux-acesso-links-diretos-de-acesso-responsividade-agente {
        width: 100%; max-width: 420px;
    }

    /* ---- PRIMEIRA BARRA ---- */

    header .cabecalho-informacoes-contato {
        width: 100%;
        max-width: 412px !important;
        height: 100%;
        display: flex;
        justify-content: stretch;
        align-items: center;
        gap: 1px;
    }

    header .cabecalho-informacoes-contato div:nth-child(1) {} /*Links uteis navbar*/
    header .cabecalho-informacoes-contato div:nth-child(2) {display: none;} /*vazio*/
    header .cabecalho-informacoes-contato div:nth-child(3) {} /*trabalhe conosco email*/
    header .cabecalho-informacoes-contato div:nth-child(4) {display: none;} /*sac email*/
    header .cabecalho-informacoes-contato div:nth-child(5) {} /*sac numero*/
    header .cabecalho-informacoes-contato div:nth-child(6) {} /*numero milbr*/


    header .cabecalho-informacoes-contato #cabecalho-informacoes-contato-redes-sociais {
        display: none;
    }

    /* ---- SEGUNDA BARRA ---- */

    header .cabecalho-ux-acesso-links-diretos-de-acesso {
        width: 100%; max-width: 420px;
    }

    header #cabecalho-ux-acesso-links-diretos-de-acesso-logos { /* tirado logos, muito grandes */
        display: none;
    }

    header #cabecalho-ux-acesso-links-diretos-de-acesso-clicaveis {
        width: 100%; max-width: 100vw !important;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 2rem;
        margin-right: 0px !important;
    }

        header #cabecalho-ux-acesso-links-diretos-de-acesso-clicaveis a {
            font-size: 10px;
        }


    /* ------------------------ = INDEX = ------------------ */

    /* GERAL */
    main .index-area-cliente-responsividade {
        width: 100% !important; max-width: 412px;
    }

    main #index-area-cliente-conteudo {
        width: 100% !important; max-width: 100vw !important;
    }

        /* carrossel */
    main #index-area-cliente-conteudo-carrossel {
            width: 100% !important; max-width: 100vw !important;
            height: auto; max-height: 170px;
            background: white;
        }
    
        main #index-area-cliente-conteudo-carrossel img {
            width: 100%; max-width: 420px;
            height: 100%;
        }

        /* planos */

        main #index-area-cliente-conteudo-conhecer-planos {
            width: 100%; max-width: 420px;
            /* height: 2300px !important; */
            height: auto !important;
        }

        main #index-area-cliente-conteudo-conhecer-planos-titulo {
            height: auto;
            width: 100%;
            font-size: 20px;
        }
        
        main #index-area-cliente-conteudo-conhecer-planos-titulo h1 {
            font-size: 20px !important;
            font-weight: bolder;
        }

        main #index-area-cliente-conteudo-conhecer-planos-tipos-planos {
            height: 250px !important;
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 0.5rem !important;
            position: relative !important;
        }

        main #index-area-cliente-conteudo-conhecer-planos-tipos-planos button {
            height: 60px;
        } 

        main #index-area-cliente-conteudo-conhecer-ofertas {
            width: 100%; max-width: 420px;
            height: auto; 
        }

        main #index-area-cliente-conteudo-conhecer-ofertas-geravel-residencial {
            display: flex;
            width: 100%;
            height: 1800px !important;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: 4rem;
        }

        main #index-area-cliente-conteudo-conhecer-ofertas-geravel-residencial div:nth-child(2) {
            margin-bottom: 0 !important;
        }

        main #index-area-cliente-conteudo-conhecer-ofertas-geravel-rural {
            height: 100%;
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: start;
        }

        main #index-area-cliente-conteudo-conhecer-ofertas-geravel-comercial {
            height: 100%;
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: start;
        }

        main #index-area-cliente-conteudo-conhecer-ofertas-geravel-corporativo {
            height: 100%;
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: start;
        }

        /* VANTAGENS */
        
        main #index-area-cliente-conteudo-vantagens {
            width: 100%; max-width: 420px;
            height: 2400px !important;
        }

        main #index-area-cliente-conteudo-vantagens-titulo {
            width: 100%; max-width: 370px;
            height: 12rem !important;
            text-align: center;
        }
        
        main #index-area-cliente-conteudo-vantagens-titulo h1 {
            font-size: 2.4rem !important;
            padding-left: 2rem; padding-right: 2rem;
        }

        main #index-area-cliente-conteudo-vantagens-icones {
            display: flex !important;
            justify-content: space-between;
            align-items: center;
            flex-direction: column;
            gap: 1rem;
            height: 2000px !important;
            padding-bottom: 4rem;
        }

        main .icone-icon {
            display: grid;
            place-content: center;
        }

        main #icone-titulo h2{
            text-align: center;
            width: auto !important;
        }

        main #icone-descricao {
            text-align: center !important;
        }

        /* ÀREA DO CLIENTE */

        main #index-area-cliente-conteudo-area-cliente {
            width: 100%; max-width: 420px;
            height: 1300px !important;
        }

        main #index-area-cliente-conteudo-area-cliente-links-uteis-titulo {
            width: 100%; max-width: 370px;
            height: 10rem !important;
            text-align: center;
        }
        
        main #index-area-cliente-conteudo-area-cliente-links-uteis-titulo h1 {
            font-size: 2.4rem !important;
            padding-left: 2rem; padding-right: 2rem;
        }

        main #index-area-cliente-conteudo-area-cliente-links-uteis {
            display: grid;
            grid-template-columns: repeat(2, 1fr) !important;
            justify-content: space-between;
            align-items: center; 
            height: 1000px !important;
            margin-bottom: 2rem;
        }

        /* REDES SOCIAIS */
        
        main #index-area-cliente-conteudo-redes-sociais {
            width: 100%; max-width: 420px;
            height: 1700px !important;
            display: flex !important;
            flex-direction: column;
        }

        main #index-area-cliente-conteudo-redes-sociais-titulo {
            width: 100%; max-width: 370px;
            height: 10rem !important;
            text-align: center;
        }
    
        main #index-area-cliente-conteudo-redes-sociais-titulo h1 {
            font-size: 2.4rem !important;
            padding-left: 2rem; padding-right: 2rem;
        }

        main #index-area-cliente-conteudo-redes-sociais-publicacoes {
            height: 1400px !important;
            display: flex !important;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
            gap: 3rem;
        }

        main #index-area-cliente-conteudo-redes-sociais-publicacoes-publicacao {
            display: grid;
            place-items: center ;
            max-width: 100vw !important;
        }

        main #index-area-cliente-conteudo-redes-sociais-publicacoes img {
            width: 350px !important;
            height: 420px !important;
        }

        main #index-area-cliente-conteudo-redes-sociais-publicacoes div:nth-child(2){
            margin-bottom: 0 !important;
        }

        /* FAQ */

        main #index-area-cliente-conteudo-perguntas-frequentes {
            width: 100%; max-width: 420px;
            height: 1000px !important;
        }

        main #index-area-cliente-conteudo-perguntas-frequentes-lista-faq-questao {
            border-radius: 0px !important;
        }

        main #index-area-cliente-conteudo-perguntas-frequentes-titulo {
            width: 100%; max-width: 370px;
            height: 10rem !important;
            text-align: center;
        }

        main #index-area-cliente-conteudo-perguntas-frequentes-titulo h1 {
            font-size: 2.4rem !important;
            padding-left: 2rem; padding-right: 2rem;
        }

        main #faq-questao-titulo h1 {
            font-size: 1.2rem !important;
        }

        main #faq-questao-resposta {
            font-size: 0.9rem !important;
        }
        
        main #faq-questao-resposta a {
            font-size: 0.9rem !important;
        }
        
        main #faq-questao-resposta p {
            font-size: 0.9rem !important;
        }

        main #faq-questao-resposta span {
            font-size: 0.9rem !important;
        }

        /* LOCALIZAÇÃO */
        main #index-area-cliente-conteudo-localizacao-responsividade {
            width: 100%; max-width: 100vw !important;
            height: 1100px !important;
        }

        main #index-area-cliente-conteudo-localizacao-titulo h1 {
            font-size: 40px !important;
        }

        main #index-area-cliente-conteudo-localizacao {
            width: 412px !important; max-width: 100vw;
            margin-left: 0px; margin-right: 0px;
            height: 1100px !important; /* VERIFICAR DEPOIS O PORQUE 100% NÃO ENTRA */
            background-color: white;
            /* display */
            display: flex !important;
            flex-direction: column !important;
            justify-content: start !important;
            box-shadow: none !important;
        }

        main #index-area-cliente-conteudo-localizacao-cidades {
            width: 90% !important;
            height: 250px !important;
            display: flex !important; 
            flex-direction: column !important;
            justify-content: space-between;
            align-items: center;
            gap: 3px !important;
        }

        main #index-area-cliente-conteudo-localizacao-cidades button{
            width: 300px !important;
            height: 50px !important;
        }

        main #index-area-cliente-conteudo-localizacao-mapas-geraveis {
            height: 1800px !important; width: 95%;
            gap: 1rem;

        }

        main #index-botao-cidade-selecionada-Muzambinho {
            display: flex !important;
            flex-direction: column !important;
        }

        main #index-botao-cidade-selecionada-CaboVerde {
            display: flex !important;
            flex-direction: column !important;
        }

        main #index-botao-cidade-selecionada-Juruaia {
            display: flex !important;
            flex-direction: column !important;
        }

        main #index-botao-cidade-selecionada-NovaResende {
            display: flex !important;
            flex-direction: column !important;
        }

        main #index-area-cliente-conteudo-localizacao-mapas-geraveis-informacoes {
            width: 98% !important; max-width: 100vw;
            margin-left: 0px !important;
        }

        main #index-area-cliente-conteudo-localizacao-mapas-geraveis-informacoes p {
            font-size: 13px !important;
        }

        main #index-area-cliente-conteudo-localizacao-mapas-geraveis-gps {
            width: 100%; max-width: 95vw !important;
        }

        main #index-area-cliente-conteudo-localizacao-mapas-geraveis-gps iframe {
            width: 100% !important; max-width: 98vw !important;
        }

        /* = footer =  */
        footer {
            width: 100% !important; 
            max-width: 100vw !important;
            height: auto;
        }

        footer img {
            display: none;
        }

        footer #footer-responsividade-cima {
            width: 100% !important;
            max-width: 100vw !important;
            height: auto;
        }

        footer .footer-rodape-credits-milbr {
            width: 100%;
            max-width: 100vw !important;
        }
        
        footer #footer-responsividade-baixo {
            width: 100% !important;
            max-width: 100% !important;
            height: auto;
        }

        footer .footer-rodape-credits-muzabin {
            width: 100%;
            max-width: 420px !important;
        }

        footer #footer-rodape-credits-milbr-tables {
            height: auto;
            width: 100% !important; max-width: 100vw !important;
        }

        footer #footer-rodape-credits-milbr-tables a {
            font-size: 20px;
        }

        footer #footer-rodape-credits-milbr-tables b {
            font-size: 20px;
        }

        footer #footer-rodape-credits-muzabin-cnpj {
            width: 95%;
        }
        
        footer #footer-rodape-credits-muzabin-cnpj h2 {
            font-size: 10px;
        }

        footer #footer-rodape-credits-muzabin-letter {
            width: 95%;
        }

        footer #footer-rodape-credits-muzabin-letter h2 {
            font-size: 10px;
            margin-top: 1rem;
        }

        footer #footer-rodape-credits-milbr-logos-faixa {
            display: none !important;
        }

        footer #footer-rodape-credits-milbr-logos {
            display: none !important;
        }

        /* flutuantes */

        .float-nav-top {
            display: none !important;
        }

        #tremor {
            display: none !important;
        }


        /* ------------------------ = Links Uteis = ------------------ */

        main #content-link-uteis-responsividade {
            width: 100% !important; 
            max-width: 420px !important;
        }

        main #content-link-uteis-responsividade-limitador {
            width: 100% !important; 
            max-width: 420px !important;
            display: flex;
            flex-direction: column;
            gap: 1rem;
            height: auto;
            margin-bottom: 100px;
        }

        main #content-link-uteis-section-links ul {
            padding-left: 0px !important;
        }

        main #content-link-uteis-section {
            margin-top: 5rem;
        }

        /* ------------------------ = SOBRE = ------------------ */
        
        /* carrossel */
        main #container-planos-responsividade {
            width: 100%; max-width: 100vw !important;
        }

        main #container-planos-responsividade-limitador {
            width: 100% !important; max-width: 100vw !important;
            display: flex !important;
            flex-direction: column;
            justify-content: start;
            align-items: start;
        }

        main #container-planos-carrossel {
            width: 100% !important; max-width: 100vw !important;
            height: auto;
        }

        main #container-planos-carrossel-background-letreiro {
            max-width: 100vw !important;
            padding-left: 0px !important;
        }

        main #container-planos-carrossel-background-letreiro-titulo {
            width: 100%; max-width: 99vw !important;
            height: auto;
        }
        
        main #container-planos-carrossel-background-letreiro-titulo h1 {
            font-size: 3rem !important;
            width: 380px !important;
        }

        main #container-planos-carrossel-background-letreiro-titulo-background-compilado {
            width: 100% !important;
            max-width: 100vw !important;
        }
        
        main #container-planos-carrossel-background-letreiro-titulo-background-compilado img {
            max-width: 100vw !important;
        }

        main #container-planos-carrossel-background-predio {
            display: none;
        }

        /* Começo do sobre nós */

        main #container-planos-titulo-historia {
            max-width: 100vw !important;
        }
        
        main #container-planos-titulo-historia h1 {
            font-size: 40px !important;
        }

        main #container-planos-historia-empresa {
            display: flex !important;
            flex-direction: column;
            height: 750px !important;
            margin-bottom: 1rem;
            width: 100% !important;
            max-width: 100vw !important;
            margin-top: 5rem !important;
        }

        main #container-planos-historia-empresa-texto {
            display: grid !important;
            flex-direction: column;
            place-items: center !important;
            order: 2 !important;
        }

        main #container-planos-historia-empresa-imagem {
            order: 1 !important;
            width: 100% !important; max-width: 100vw !important;
            text-align: center !important;
            height: auto !important;
        }
        
        main #container-planos-historia-empresa-imagem img {
            width: 390px !important;
            max-width: 98vw !important;
        }

        main #container-planos-historia-empresa-texto-paragrafos {
            width: 95% !important;
            max-width: 420px;
            height: auto !important;
        }

        main #container-planos-historia-empresa-texto-paragrafos p {
            font-size: 19px !important;
        }

        main #container-planos-inicio-crescimento {
            width: 100% !important;
            max-width: 420px !important;
            padding-left: 0px !important;
            padding-right: 0px !important;
            display: grid !important;
            place-items: center;
            flex-direction: column !important;
        }

        main #container-planos-inicio-crescimento-apresentacao {
            height: 1200px !important;
            width: 100% !important; max-width: 420px !important;
            display: flex !important;
            flex-direction: column;
        }

        main #container-planos-inicio-crescimento-imagem {
            width: 100% !important;
            text-align: center !important;
            max-width: 400px !important;
            display: grid !important;
            place-items: center;
        }

        main #container-planos-inicio-crescimento-imagem img {
            width: 100%;
            max-width: 100vw !important;
        }

        main #container-planos-inicio-crescimento-texto {
            width: 100% !important;
            max-width: 410px;
            height: 700px !important;
            margin-left: 0px !important;
            display: grid !important;
            place-items: center;
        }

        main #container-planos-inicio-crescimento-texto-lista {
            width: 95% !important; max-width: 100vw !important;
            height: auto;
            display: grid !important;
            place-items: center;
        }

        main #container-planos-inicio-crescimento-texto h2 {
            font-size: 25px !important;
        }

        main #container-planos-inicio-crescimento-texto li {
            font-size: 19px !important;
        }

        main #container-planos-inicio-crescimento-desenvolvimento-e-conclusao {
            height: auto !important;
            width: 94% !important; 
            max-width: 420px !important;
            text-align: center;
            display: grid !important;
            place-items: center;
        }

        main #container-planos-inicio-crescimento-desenvolvimento-e-conclusao p {
            margin-right: 0px !important;
            width: 100% !important;
            max-width: 100vw !important;
            font-size: 19px !important;
            text-align: justify !important;
        }

        main #container-planos-inicio-crescimento-desenvolvimento-e-conclusao-paragrafo-primeiro {
            width: 380px !important;
            display: grid !important;
            place-items: center;
        }

        main #container-planos-inicio-crescimento-desenvolvimento-e-conclusao-paragrafo-segundo {
            width: 380px !important;
            display: grid !important;
            place-items: center;
        }

        main #container-planos-logos-predio {
            width: 100% !important;
            height: auto;
            max-width: 420px !important;
        }

        main #container-planos-logos-predio img {
            width: 100% !important;
        }

        
        /* ------------------------ = PLANOS = ------------------ */
        main #planos-conteudo-responsividade {
            width: 100% !important;
            max-width: 420px !important;
        }

        main .planos-conteudo-responsividade-conteudo {
            width: 100% !important;
            max-width: 420px !important;
        }

        main #planos-conteudo-imagem-promocional {
            width: 100% !important;
            max-width: 420px !important;
        }

        main #planos-conteudo-imagem-promocional-texto {
            width: 50% !important;
        }

        main #planos-conteudo-imagem-promocional-texto h1 {
            font-size: 24px !important;
            text-align: start !important;
        }

        main #planos-conteudo-imagem-promocional-texto h3 {
            text-align: start !important;
            font-size: 17px !important;
        }

        main #planos-conteudo-imagem-planos-residenciais {
            width: 100% !important; max-width: 420px !important;
            height: 2300px !important;
            display: flex !important;
            flex-direction: column;
            gap: 1rem;
        }

        main #planos-conteudo-imagem-planos-residenciais-titulo h1 {
            font-size: 3rem !important;
        }

        main #planos-conteudo-imagem-planos-residenciais-planos {
            height: auto;
            max-width: 100vw !important;
            display: flex !important;
            flex-direction: column;
            gap: 3rem;
            justify-content: center !important;
            align-items: center !important;
            padding-left: 0px !important;
            padding-right: 0px !important;
        }

        main #planos-conteudo-imagem-planos-residenciais-planos div:nth-child(2) {
            margin-bottom: 0 !important;
        }

        main #planos-conteudo-imagem-planos-residenciais-observacao {
            width: 90% !important;
            height: 120px !important;
            max-width: 100vw !important;
            padding-left: 0px !important;
            /* display */
            display: grid;
            place-items: center;
        }

        main #planos-conteudo-imagem-planos-residenciais-observacao p {
            font-size: 12px !important;
            margin-left: 10px;
            margin-top: 12px !important;
        }

        /* rurais */

        main #planos-conteudo-imagem-planos-rurais {
            width: 100%; max-width: 420px !important;
        }

        main #planos-conteudo-imagem-planos-rurais-titulo h1 {
            font-size: 35px !important;
        }

        main #planos-conteudo-imagem-planos-rurais-imagem-promocional {
            display: none !important;
        }

        main #planos-conteudo-imagem-planos-residenciais-planos-plano {
            width: 80vw !important;
        }

        /* comercial */

        main #planos-conteudo-imagem-plano-comercial {
            width: 100% !important; max-width: 100vw !important;
        }

        main #planos-conteudo-imagem-plano-comercial-titulo h1 {
            font-size: 30px !important;
        }

        main #planos-conteudo-imagem-plano-comercial-conteudo-imagem-pos {
            display: none;
        }

        /* plano corporativo */

        main #planos-conteudo-imagem-plano-corporativo {
            width: 100% !important; max-width: 420px !important;
            height: 500px !important;
            display: grid !important;
            place-items: center;
        }

        main #planos-conteudo-imagem-plano-corporativo h1 {
            font-size: 40px !important;
            text-align: center;
        }
       
        main #planos-conteudo-imagem-plano-corporativo-conteudo {
            width: 100% !important; max-width: 420px !important;
            display: flex !important;
            flex-direction: column !important;
            gap: 5rem !important;
            height: 350px !important;
        }

        main #planos-conteudo-imagem-plano-corporativo-conteudo-imagem {
            display: none !important;
        }

        main #planos-conteudo-imagem-plano-corporativo-conteudo-escrito {
            width: 100% !important;
            max-width: 100vw !important;
            text-align: start !important;
        }

        main #planos-conteudo-imagem-plano-corporativo-conteudo-escrito-titulo {
            width: 100% !important; max-width: 300px !important;
            font-size: 30px !important;
        }

        /* ------------------------ = PROCESSOS = ------------------ */

        main .responsividade-agente-processos {
            width: 100% !important;
            max-width: 100vw !important;

        }

        main #aside-milbr-tv-responsividade-agente {
            width: 100% !important;
            max-width: 100vw !important;
            height: auto !important;
        }

        main .aside-milbr-tv {
            width: 100% !important;
            max-width: 100vw !important;
            display: flex !important;
            flex-direction: column !important;
            height: 3000px;
            align-items: center;
        }

        main #aside-milbr-tv-imagem-esquerda {
            width: 100% !important;
            height: auto !important;
            max-width: 100vw;
            padding-bottom: 2rem;
        }
       
        main #aside-milbr-tv-imagem-esquerda img {
            width: 100% !important;
            height: auto;
        }
        
        main #aside-milbr-tv-beneficios {
            width: 100% !important;
            max-width: 100vw !important;
            padding-left: 0px !important;
            /* display */
            display: flex !important;
            flex-direction: column !important;
            align-items: center;
        }

        main #aside-milbr-tv-beneficios-titulo h1 {
            font-size: 30px !important;
            margin-left: 2%;
            width: 98%;
        }

        main #aside-milbr-tv-beneficios-subtitulo {
            max-width: 100vw !important;
            margin-left: 2% !important;
            width: 98%;
        }

        main #aside-milbr-tv-beneficios-subtitulo p {
            font-size: 20px !important;
        }

        main #aside-milbr-tv-beneficios-subtitulo2 {
            width: 98% !important;
        }

        main #aside-milbr-tv-beneficios-subtitulo2 h2 {
            font-size: 20px !important;
            width: 100% !important;
        }

        main #aside-milbr-tv-beneficios-lista {
            width: 96% !important;
        }

        main #aside-milbr-tv-beneficios-lista p {
            font-size: 20px !important;
        }
        
        main #aside-milbr-tv-beneficios-finalizacao {
            margin-bottom: 20px !important;
            width: 98%;
        }

        main #aside-milbr-tv-beneficios-finalizacao p {
            font-size: 15px !important;
        }


        /* TELEFONIA */

        main #aside-milbr-td-responsividade-agente {
            width: 100% !important;
            max-width: 100vw !important;
            height: auto !important;
        }

        main #aside-milbr-td-telefonia {
            width: 100% !important;
            max-width: 100vw !important;
            /* DISPLAY */
            display: flex !important;
            flex-direction: column !important;
            height: auto !important;
        }

        main #aside-milbr-td-telefonia-vantagens {
            width: 100% !important; max-width: 100vw !important;
            height: 400px !important;
        }

        main #aside-milbr-td-telefonia-vantagens-titulo {
            width: 95% !important;
            max-width: 100vw !important;
            padding-left: 2%;
        }
        
        main #aside-milbr-td-telefonia-vantagens-subtitulo {
            width: 95% !important;
            max-width: 100vw !important;
            padding-left: 2%;
        }

        main #aside-milbr-td-telefonia-vantagens p { font-size: 20px !important;}
        main #aside-milbr-td-telefonia-vantagens h2 { font-size: 20px !important;}
        main #aside-milbr-td-telefonia-vantagens-lista-titulo { padding-left: 2% !important; max-width: 100vw !important; width: 90% !important;}
        main #aside-milbr-td-telefonia-vantagens-lista-topicos p {font-size: 18px !important;}
        main #aside-milbr-td-telefonia-vantagens-lista-topicos {padding-left: 1%;}

        main .aside-milbr-td-telefonia-vantagens-finalizacao {
            width: 95% !important;
            max-width: 100vw !important;
            margin-left: 1rem;
        }

        main #aside-milbr-td-telefonia-portabilidade {
            height: auto !important;
            width: 100% !important; max-width: 100vw !important;
            margin-top: 1rem;
        }

        main #aside-milbr-td-telefonia-portabilidade img {
            width: 100% !important; height: 100% !important;
        }

        /* ------------------------ = PROMOÇÕES = ------------------ */

        main #container-conteudos-promocionais {
            width: 100% !important;
            max-width: 100vw !important;
            height: 2200px !important;
        }

        main #container-conteudos-promocionais-responsividade {
            width: 100% !important;
            max-width: 100vw !important;
            display: flex !important;
            flex-direction: column;
            height: 100% !important;
        }
    
}