main .index-area-cliente-responsividade {
    width: 100%;
    height: auto;
    display: grid; place-items: center;
    background-color: var(--background-color-white-main);
}

/* ----------------------------------+ ESPAÇO DESIGNADO AO CARROSSEL +-----------------------------------  */

main #index-area-cliente-conteudo {
    width: 1366px; max-width: 1366px;
    height: auto;
    /* padding-left: 3rem; padding-right: 3rem; */
    box-shadow: -5px 0 10px rgba(0, 0, 0, 0.1), 5px 0 10px rgba(0, 0, 0, 0.1);
}

main #index-area-cliente-conteudo-carrossel {
    width: 100%;
    height: 550px;
    background-color: var(--color-letter-blue-normalHead);
    position: relative;
}

#index-area-cliente-conteudo-carrossel img {
    display: none;
    width: 100%; 
    height: auto;
    opacity: 0;
    transition: opacity 1s ease-in-out;
}

#index-area-cliente-conteudo-carrossel img.selected {
    display: block;
    opacity: 1;
}


/* cookies - teste commit */

main .index-area-cliente-conteudo-carrossel-cookie {
    position: fixed;
    width: 320px; height: 140px;
    display: none; /*Mudado até eu colocar cookies realmente no projeto*/
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: white;
    padding-left: 4rem;
    padding-right: 4rem;
    bottom: 4px;
    left: 4px;
    border: 1px solid black;
    z-index: 10;
    text-align: justify;
    gap: 1rem;
}

main .index-area-cliente-conteudo-carrossel-cookie h3 {
    font-size: 1.1rem;
}

main .index-area-cliente-conteudo-carrossel-cookie a {
    cursor: pointer;
    color: #2B83EA;
    font-size: 1.2rem;
    font-weight: bolder;
    text-decoration: none;
    position: relative;
}

main .index-area-cliente-conteudo-carrossel-cookie a::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 2px;
    background-color: #2B83EA;
    transition: width 1s ease;
}

main .index-area-cliente-conteudo-carrossel-cookie a:hover::before {
    width: 100%;
}

main .index-area-cliente-conteudo-carrossel-cookie button {
    width: 125px;
    height: 35px;
    background-color: #1159A4;
    border-radius: 0.7rem;
    text-align: center;
    font-size: 1.3rem;
    color: white;
    font-weight: bolder;
    cursor: pointer;
}

main .index-area-cliente-conteudo-carrossel-cookie button:hover {
    color: #333746;
}


/* --------------------------- + TRATANDO DOS PLANOS + -------------------------------- */

main #index-area-cliente-conteudo-conhecer-planos {
    width: 100%;
    height: 880px;
    display: flex; flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
    background-color: var(--background-color-white-second);
}

main #index-area-cliente-conteudo-conhecer-planos-titulo {
    height: auto;
    width: 100%;
    text-align: center;
    margin-top: 2rem;
}

main #index-area-cliente-conteudo-conhecer-planos-titulo h1 {
    font-size: 50px;
    font-weight: bolder;
    color: var(--color-letter-blue-normalHead);
}

main #index-area-cliente-conteudo-conhecer-planos-titulo h4 {
    font-size: 20px;
    font-weight: 500;
    color: var(--color-letter-blue-normalHead);
}

main #index-area-cliente-conteudo-conhecer-planos-tipos-planos {
    width: 100%;
    height: 60px;
    gap: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

main #index-area-cliente-conteudo-conhecer-planos-tipos-planos button {
    font-size: 27px;
    color: var(--background-color-white-main);
    font-weight: 600;
    font-family: Roboto, sans-serif;
    /* background-color: #4DA4DD; */
    background-color: #6cc7f1;
    border-radius: 10px;
    height: 50px;
    width: 265px;
    cursor: pointer;
}

main #index-area-cliente-conteudo-conhecer-planos-tipos-planos button:hover {
    color: #333746;
}

main #index-area-cliente-conteudo-conhecer-planos-tipos-planos button:focus {
    background-color: var(--color-letter-blue-normalHead);
}

/* ---------------------------- = Conteúdos filtrados via js = --------------------------------- */

main #index-area-cliente-conteudo-conhecer-ofertas {
    width: 100%;
    height: 100%;
    display: grid;
    place-items: center;
}

main #index-area-cliente-conteudo-conhecer-ofertas:nth-child(2) {
    margin-bottom: 2rem;
}

.conteudo {
    position: absolute;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.3s ease, visibility 0s ease 0.3s;
}

.conteudo.open {
    position: relative;
    visibility: visible;
    opacity: 1;
    transition: opacity 0.3s ease;
}

main #index-area-cliente-conteudo-conhecer-ofertas {
    width: 100%;
    height: 100%;
    display: grid;
    place-items: center;
}

main #index-area-cliente-conteudo-conhecer-ofertas-geravel-residencial,
#index-area-cliente-conteudo-conhecer-ofertas-geravel-comercial,
#index-area-cliente-conteudo-conhecer-ofertas-geravel-corporativo,
#index-area-cliente-conteudo-conhecer-ofertas-geravel-rural
{
    width: 100%;
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 6rem;
    margin-top: 2rem;
}


/* -------------------------------------- + + ------------------------------------------------ */

/* Mexendo com elements */
.plano-apresentacao {
    height: 450px;
    width: 300px;
    display: flex; 
    flex-direction: column;
    box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.2), /* Sombra principal suave */
              0px 4px 6px rgba(0, 0, 0, 0.1);   /* Sombra adicional mais leve */
    border-radius: 10px; /* Bordas arredondadas */
    background-color: var(--background-color-white-main);
    position: relative;
}

.plano-apresentacao #coroa {
    position: absolute;
    width: 60px; height: 60px;
    top: -30px;
    left: -30px;
}

.plano-apresentacao #coroa img {
    width: 100%; height: 100%;
}

.plano-apresentacao #plano-apresentacao-titulo {
    width: 100%;
    height: 100px;
    display: grid; place-items: center;
    font-size: 40px;
    color: var(--background-color-white-main);
    font-weight: 500;
    background: linear-gradient(90deg, 
    rgba(28, 94, 138, 0.94) 0%, 
    rgba(39, 121, 183, 0.96) 58%, 
    rgba(25, 86, 126, 1) 100%
  );
  border-radius: 10px;
}

.plano-apresentacao ul{
    width: 100%;
    list-style: none;
    display: grid; place-items: center;
    padding-top: 0.3rem;
}

.plano-apresentacao li {
    width: 60%;
    height: 40px;
    border-bottom: 1px solid #ebebeb;
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 1rem;
    font-size: 12px;
    font-weight: 500;
    text-align: start;
}

.plano-apresentacao #plano-apresentacao-corpo {
    height: calc(100% - 100px);
    width: 100%;
    text-align: center;
}

#plano-apresentacao-corpo-vantagens-lista img {
    height: 25px;
    width: 25px;
}

.plano-apresentacao #plano-apresentacao-corpo-velocidade {
    width: 100%;
    height: auto;
    text-align: center;
}

.plano-apresentacao #plano-apresentacao-corpo-velocidade h1 {
    font-size: 56px;
    color: black;
    font-weight: bolder;
}

.plano-apresentacao #plano-apresentacao-corpo-botao {
    width: 100%; height: 40px;
    color: var(--background-color-white-main);
    margin-top: 1rem;
}

.plano-apresentacao #plano-apresentacao-corpo-botao button {
    border-radius: 1rem;
    background-color: #0D5E94;
    height: 100%;
    width: 176px;
}

.plano-apresentacao #plano-apresentacao-corpo-botao a {
    cursor: pointer;
    color: white;
    font-size: 20px;
    font-weight: bolder;
}

.plano-apresentacao #plano-apresentacao-corpo-botao a:hover {
    color: var(--color-letter-gray-normalHead);
}

.plano-apresentacao #plano-apresentacao-corpo i {
    font-size: 2rem;
    color: var(--color-letter-blue-normalHead);
}

/* --------------------- NOSSAS VANTAGENS ------------------------------- */

/* área do título */
main #index-area-cliente-conteudo-vantagens {
    width: 100%;
    height: 900px;
    display: flex; flex-direction: column;
    align-items: center;
}

main #index-area-cliente-conteudo-vantagens-titulo {
    width: 100%;
    height: 185px;
    display: grid;
    place-items: center;
    background: #7A7A7A33;
    box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.2), /* Sombra principal suave */
                0px 4px 6px rgba(0, 0, 0, 0.1);     
    border-radius: 2px;
}

main #index-area-cliente-conteudo-vantagens-titulo h1 {
    font-size: 45px;
    color: var(--color-letter-blue-normalHead);
    font-weight: bolder;
}

main #index-area-cliente-conteudo-vantagens-icones {
    height: 90%;
    width: 94%;
    margin-top: 10rem;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
}

main #index-area-cliente-conteudo-vantagens-icone {
    width: 260px; height: 190px;
    display: flex; flex-direction: column;
    justify-content: center;
    gap: 1rem;
    align-items: center;
    word-wrap: break-word;
    padding-left: 3rem;
    padding-right: 1rem;
}

main #icone-icon {
    height: 65px; width: 65px;
}

main #icone-icon img {
    height: 100%; width:100%;
}

main #icone-titulo h2 {
    font-weight: bolder;
    font-size: 21px;
    color: var(--color-letter-blue-normalHead);
}

main #icone-descricao {
    width: 100%; height: auto;
    text-align: center;
    font-size: 14px;
    font-weight: 500;
    color: rgb(90, 90, 90);
}


/* --------------------- + ÁREA DO CLIENTE + ------------------ */
main #index-area-cliente-conteudo-area-cliente {
    width: 100%;
    height: 620px;
    display: flex; flex-direction: column;
    align-items: center;
    background-color: #aee0f7;
}


main #index-area-cliente-conteudo-area-cliente-links-uteis {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 2fr 3fr;
}

main #index-area-cliente-conteudo-area-cliente-links-uteis-section {
    width: 100%;
    height: 100%;
    background-color: var(--color-letter-blue-normalHead);
    display: grid;
    place-items: center;
    position: relative;
}

main #index-area-cliente-conteudo-area-cliente-links-uteis-section img {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0.2;
    z-index: 1;
}

main #index-area-cliente-conteudo-area-cliente-links-uteis-section-titulo{
    z-index: 2;
    width: 90%;
    height: auto;
}

main #index-area-cliente-conteudo-area-cliente-links-uteis-section-titulo h4 {
    color: #6CC7F1;
    font-size: 15px;
    font-weight: 400;
    text-align: center;
}

main #index-area-cliente-conteudo-area-cliente-links-uteis-section-titulo h1 {
    font-size: 60px;
    color: white;
    font-weight: bolder;
    text-align: center;
    -webkit-text-stroke: 1px white; /* Contorno preto na fonte */
}

main #index-area-cliente-conteudo-area-cliente-links-uteis-clicaveis {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    place-items: center;
    gap: 1rem;
    width: 100%; height: 100%;
}

main #index-area-cliente-conteudo-area-cliente-links-uteis-acessiveis-click {
    height: 140px;
    width: 180px;
    display: flex; flex-direction: column;
    justify-content: space-between;
    gap: 1rem;
}

main #index-area-cliente-conteudo-area-cliente-links-uteis-acessiveis-click-icone {
    height: 70px;
    width: 100%;
    display: grid;
    place-items: center;
}

main #index-area-cliente-conteudo-area-cliente-links-uteis-acessiveis-click-icone img {
    width: 70px;
    height: 100%;
}

main #index-area-cliente-conteudo-area-cliente-links-uteis-acessiveis-click-texto {
    width: 100%;
    text-align: center;
    word-wrap: break-word;
    font-size: 15px;
    font-weight: bolder;
    color: black;
    cursor: pointer;
}

main #index-area-cliente-conteudo-area-cliente-links-uteis-acessiveis-click-texto a {
    font-size: 12px;
    color: var(--color-letter-blue-normalHead);
    cursor: pointer;
}

main #index-area-cliente-conteudo-area-cliente-links-uteis-acessiveis-click-texto a:hover {
    color: #333746;
}


/* ----------------------- + SIGA NOSSAS REDES + ----------------------------- */

main #index-area-cliente-conteudo-redes-sociais {
    width: 100%;
    height: 800px;
    display: flex; flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding-top: 4rem;
    padding-bottom: 10rem;
    background-color: var(--color-letter-blue-normalHead);
} 

main #index-area-cliente-conteudo-redes-sociais-cima {
    height: 200px; width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    position: relative;
}

main #index-area-cliente-conteudo-redes-sociais-cima-titulo {
    height: 100%;
    width: 600px;
    padding-left: 10rem;
}

main #index-area-cliente-conteudo-redes-sociais-cima-titulo h1 {
    font-size: 60px;
    color: white;
    -webkit-text-stroke: 1px white;
    font-weight: bolder;
}

main #index-area-cliente-conteudo-redes-sociais-cima-titulo h3 {
    color: #6CC7F1;
    font-size: 20px;
    font-weight: 400;
}

main #index-area-cliente-conteudo-redes-sociais-cima-redesSociais {
    display: grid;
    place-items: center;
}

main .index-area-cliente-conteudo-redes-sociais-cima-redesSociais-responsividade {
    width: 70%;
    height: auto;
    display: flex;
    justify-content: end;
}

main #index-area-cliente-conteudo-redes-sociais-cima-redesSociais a {
    width: auto;
    height: auto;
}

main #index-area-cliente-conteudo-redes-sociais-cima-redesSociais i {
    font-size: 6rem;
    color: #6CC7F1;
}

main #index-area-cliente-conteudo-redes-sociais-publicacoes {
    margin-top: 10rem; 
    width: 80%; height: 700px;
    display: flex;
    align-items: end;
    justify-content: space-between;
    padding-left: 1rem; padding-right: 1rem;
}

main #index-area-cliente-conteudo-redes-sociais-publicacoes-publicacao {
    width: 320px; height: 540px;
    border-radius: 5px;
    cursor: pointer;
    position: relative;
}

main #index-area-cliente-conteudo-redes-sociais-publicacoes-publicacao-numero-postagem {
    position: absolute;
    bottom: 1rem;
    left: 1rem;
    font-size: 2rem;
    color: yellow;
    font-weight: bolder;
}

main #index-area-cliente-conteudo-redes-sociais-publicacoes-publicacao img {
    width: 100%;
    height: 100%;
    border-radius: 5px;
    cursor: pointer;
}

main #index-area-cliente-conteudo-redes-sociais-publicacoes-publicacao img:hover {
    transform: scale(1.2);
}

/* vendo se sobe */


/* ------------------ + PERGUNTAS FREQUENTES + ------------------- */
    
main #index-area-cliente-conteudo-perguntas-frequentes {
    width: 100%;
    height: auto;
    display: flex; flex-direction: column;
    background: #aee0f7;
    padding-bottom: 2rem;
}

main #index-area-cliente-conteudo-faq-titulo {
    width: 100%;
    height: 185px;
    display: grid;
    place-items: center;
    background: #e4e4e4;
    box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.2), /* Sombra principal suave */
                0px 4px 6px rgba(0, 0, 0, 0.1);     
    border-radius: 2px;
}

main #index-area-cliente-conteudo-faq-titulo h1 {
    font-size: 45px;
    color: var(--color-letter-blue-normalHead);
    font-weight: bolder;
}

main #index-area-cliente-conteudo-perguntas-frequentes-responsividade {
    height: auto;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 2fr;
    padding-top: 4rem;
}

main #index-area-cliente-conteudo-perguntas-frequentes-lista {
    height: auto;
    width: 100%;
}

main #index-area-cliente-conteudo-perguntas-frequentes-titulo {
    height: 105px;
    display: grid;
    border-radius: 2px;
    margin-bottom: 5rem;
    padding-left: 5rem;
}

main #index-area-cliente-conteudo-perguntas-frequentes-titulo h1 {
    font-size: 70px;
    font-weight: 400;
    color: white;
    width: 95%;
    margin-top: 2rem;
    overflow-wrap: break-word;
}

main #index-area-cliente-conteudo-perguntas-frequentes-titulo h2 {
    font-size: 28px;
    text-align: start;
    color: var(--color-letter-blue-normalHead);
    font-family: "Montserrat", Sans-serif;
    font-weight: bolder;
}

/* Estilo do container principal */
main #index-area-cliente-conteudo-perguntas-frequentes-lista-faq-questao {
    width: 100%; height: auto;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    gap: 0.2rem;
    transition: height 0.3s ease, padding 0.3s ease;
    border-top: 1px solid #6CC7F1;
}

main #faq-questao-titulo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem;
    cursor: pointer;
    height: 60px; /* Altura fixa do título */
}

main #faq-questao-titulo h1 {
    color: var(--color-letter-blue-normalHead);
    font-size: 27px;
    font-weight: bolder;
    margin: 0;
    margin-top: 3rem;
}

main #faq-questao-titulo i {
    color: var(--color-letter-blue-normalHead);
    font-size: 4rem;
    transition: transform 0.3s ease; /* Suavidade para a rotação */
}

main #faq-questao-resposta {
    color: black;
    font-size: 20px;
    line-height: 1.5;
    padding: 1rem;
    padding-top: 1rem;
    height: 0; /* Inicialmente invisível */
    opacity: 0;
    overflow: hidden;
    transition: height 0.3s ease, opacity 0.3s ease; /* Suavidade para aparecer/desaparecer */
    background: #6CC7F1;
    margin-top: 3rem;
}

main #faq-questao-resposta p {
    color: black;
    font-size: 20px;
}

main #faq-questao-resposta i {
    color: black;
    font-size: 7px;
}

main #index-area-cliente-conteudo-perguntas-frequentes-lista-faq-questao.open #faq-questao-resposta {
    height: auto; /* Altura automática */
    opacity: 1; 
    padding: 1rem;
    background-color: #aee0f7;
}

main #index-area-cliente-conteudo-perguntas-frequentes-lista-faq-questao.open #faq-questao-titulo i {
    transform: rotate(180deg); 
}

/* ----------------------+ LOCALIZAÇÃO DA MILBR +------------------------------- */

main #index-area-cliente-conteudo-localizacao-responsividade {
    width: 100%;
    height: 56rem;
    display: grid;
    place-items: center;
    margin-bottom: 10rem;
    margin-top: 10rem;
    z-index: 2;
}

main #index-area-cliente-conteudo-localizacao{
    width: 120rem;
    height: 100%;
    border-radius: 1rem;
    display: flex; flex-direction: column;
    justify-content: center; 
    gap: 2rem;
    align-items: center;
    box-shadow:
    0 1px 3px rgba(0, 0, 0, 0.12),
    0 4px 6px rgba(0, 0, 0, 0.1),  
    0 1px 10px rgba(0, 0, 0, 0.08);
}

main #index-area-cliente-conteudo-localizacao-titulo {
    width: 100%; height: 72px;
    text-align: center;
}

main #index-area-cliente-conteudo-localizacao-titulo h1 {
    font-size: 50px;
    color: var(--color-letter-blue-normalHead);
    font-weight: bolder;
}

main #index-area-cliente-conteudo-localizacao-cidades {
    margin-top: 2rem;
    width: 50%; height: 50px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 0px;
}

main #index-area-cliente-conteudo-localizacao-cidades button {
    height: 34px;
    border-radius: 10px;
    color: var(--background-color-white-main);
    font-size: 12px;
    font-weight: bolder;
    cursor: pointer;
    background-color: #41ABEC;
}

main #index-area-cliente-conteudo-localizacao-cidades button:hover {
    color: black;
}

main #index-area-cliente-conteudo-localizacao-cidades button:focus {
    background-color: var(--color-letter-blue-normalHead);
}

/* --------------------- = CONTEÚDO GERÁVEL POR JS = ------------------ */

main #index-area-cliente-conteudo-localizacao-mapas-geraveis {
    width: 100%;
    height: 350px;
    display: grid;
    place-items: center;
}

main #index-area-cliente-conteudo-localizacao-mapas-geraveis iframe {
    width: 520px; height: 346px;
}

.mapa-filho.close {
    position: absolute;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s 0.3s, opacity 0.3s ease;
}

.mapa-filho.open {
    position: absolute;
    visibility: visible;
    opacity: 1;
    transition: visibility 0s, opacity 0.3s ease;
}

main    #index-botao-cidade-selecionada-Muzambinho,
        #index-botao-cidade-selecionada-CaboVerde,
        #index-botao-cidade-selecionada-Juruaia,
        #index-botao-cidade-selecionada-NovaResende 
{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

main #index-area-cliente-conteudo-localizacao-mapas-geraveis-informacoes {
    width: 380px; height: 280px;
    border-radius: 4px;
    margin-left: -8rem;
    background-color: var(--background-color-white-main);
    box-shadow:
    0 1px 3px rgba(0, 0, 0, 0.12),
    0 4px 6px rgba(0, 0, 0, 0.1),  
    0 1px 10px rgba(0, 0, 0, 0.08);
    padding-left: 1rem;
    padding-top: 2rem;
    display: flex; flex-direction: column;
    justify-content: space-around;
}

main #index-area-cliente-conteudo-localizacao-mapas-geraveis-informacoes p {
    color: black;
    font-weight: bolder;
    font-size: 15px;
    margin-left: 1rem;
}

main #index-area-cliente-conteudo-localizacao-mapas-geraveis-informacoes-avenida,
     #index-area-cliente-conteudo-localizacao-mapas-geraveis-informacoes-horario-funcionamento,
     #index-area-cliente-conteudo-localizacao-mapas-geraveis-informacoes-contato,
     #index-area-cliente-conteudo-localizacao-mapas-geraveis-informacoes-whatsapp
    {
    display: flex;
    align-items: center;
    justify-content: start;
}

main #index-area-cliente-conteudo-localizacao-mapas-geraveis-informacoes-avenida img {
    width: 30px; height: 30px;
}